section.payment-page__list-section

	.container

		.title-section
			h2.title-section__header.title-section__payment  Оплата и доставка

		ul.payment-page__list
			li.payment-page__list-item 1. 
				span.payment-page__list-item-orange Оплата за матрас 
				| при получении, удобным способом (наличными либо картой).

			li.payment-page__list-item 2. 
				span.payment-page__list-item-orange Доставка осуществляется 
				| без предоплаты до Вашей кровати, в удобное для Вас время (либо оплата картой на сайте при покупки матраса).

			li.payment-page__list-item 3. Заказ 
				span.payment-page__list-item-orange менее 8000 р. 
				| - доставка - 500 р.

			li.payment-page__list-item 4. 
				span.payment-page__list-item-orange Оплата за матрас 
				| при получении, удобным способом (наличными либо картой).

			li.payment-page__list-item 5. 
				span.payment-page__list-item-orange Подъем на этаж  
				| матрасов до 100см - бесплатен. Подъём крупногабаритных матрасов - более 100см шириной, бесплатен при наличии грузового лифта (если лифт отсутствует - 100 р. за этаж)

			li.payment-page__list-item 6. 
				span.payment-page__list-item-orange Вывоз и утилизация 
				| старого матраса - 500 р. 

			li.payment-page__list-item 7. 
				span.payment-page__list-item-orange Доставка За МКАД
					include ../_0-icon-svg/location.svg
				| + 5 км. - 30 р. за км., дополнительно к основной доставке.
