// BRENDS SECTION
section.brand-section

  .container
  
    .title-section
      h2.title-section__header Бренды

      .brand__arrow
        .brand-arrow-left
          include ../_0-icon-svg/arrow-left.svg
        .brand-arrow-right
          include ../_0-icon-svg/arrow-right.svg

    ul.brand-section__list.main-page-brands
      li.brand-section__list-item
        img(src="img/logo_2.png", alt="")
      li.brand-section__list-item
        img(src="img/logo_3.png", alt="")
      li.brand-section__list-item
        img(src="img/logo_2.png", alt="")
      li.brand-section__list-item
        img(src="img/logo_3.png", alt="")
      li.brand-section__list-item
        img(src="img/logo_2.png", alt="")



    