mixin reviews(product_name, text, client_foto, about_client)
	li.reviews-item
		.product-wrap
			.product Товар:
				span.product__name #{product_name}
			.text #{text}
			//- .triangle
		.clients-data
			.foto(style='background-image: url(img/#{client_foto})')
			.name #{about_client}



// OUR CLIENTS
section.clients-section

	.container

		.title-section
			h2.title-section__header.title-section__clients  Что говорят наши клиенты
			
			.clients__arrow
				.clients-arrow-left
					include ../_0-icon-svg/arrow-left.svg
				.clients-arrow-right
					include ../_0-icon-svg/arrow-right.svg


		.client-reviews
			ul.reviews.clients-reviews

				+reviews('Матрас Eleonora', 'Приобрели матрас Victory вместе с защитным чехлом и основанием с ламелиями. Заказ был оформлен через интернет-магазин askona по телефону. Приятно порадовала приветливость, внимательность, вежливость менеджера отдела интернет-продаж Леонтьевой Елены Николаевны Срок изготовления и доставки заказа ориентировочно составлял 3-4 недели. Каково же было наше неподдельное удивление, когда 7() день нам позвонил представитель из отдела логистики и доставки и сообщил, что наш заказ готов и готовы ли мы его принять?', 'client-foto.png', 'Оля, 15 ноября 2015')

				+reviews('Матрас Eleonora', 'Приобрели матрас Victory вместе с защитным чехлом и основанием с ламелиями. Заказ был оформлен через интернет-магазин askona по телефону. Приятно порадовала приветливость, внимательность, вежливость менеджера отдела интернет-продаж Леонтьевой Елены Николаевны Срок изготовления и доставки заказа ориентировочно составлял 3-4 недели. Каково же было наше неподдельное удивление, когда 7() день нам позвонил представитель из отдела логистики и доставки и сообщил, что наш заказ готов и готовы ли мы его принять?', 'client-foto.png', 'Оля, 15 ноября 2015')

				+reviews('Матрас Eleonora', 'Приобрели матрас Victory вместе с защитным чехлом и основанием с ламелиями. Заказ был оформлен через интернет-магазин askona по телефону. Приятно порадовала приветливость, внимательность, вежливость менеджера отдела интернет-продаж Леонтьевой Елены Николаевны Срок изготовления и доставки заказа ориентировочно составлял 3-4 недели. Каково же было наше неподдельное удивление, когда 7() день нам позвонил представитель из отдела логистики и доставки и сообщил, что наш заказ готов и готовы ли мы его принять?', 'client-foto.png', 'Оля, 15 ноября 2015')


