// FIRST FACTORY

section.first-factory-description

	.container
		.first-factory__content
			p.content__paragraph Первая фабрика бренда «Корпорация Сна» была открыта в 2009 году. в г. Ростов-на-Дону. Стремительное развитие Компания получила за счет честности при работе с людьми, за счет цен ниже рынка, при отменном качестве,  высочайшего европейского сервиса и расширенных гарантий на матрасы.Первая фабрика бренда «Корпорация Сна» была открыта в 2009 году. в г. Ростов-на-Дону. Стремительное развитие Компания получила за счет честности при работе с людьми, за счет цен ниже рынка, при отменном качестве,  высочайшего европейского сервиса и расширенных гарантий на матрасы.