section.compare__main-content

	.compare-wrap

		.container

			.compare-wrap__content
				
				.compare__content
					
					ul
						li.list_descr Описание
						li.list_img Изображение
						li.list_inf Производитель
						li.list_inf Максимальная нагрузка
						li.list_inf Жесткость
						li.list_inf Пружинный блок
						li.list_inf Высота
						li.list_inf Материалы
				
				.compare__content
					
					ul
						li.list_name Матрас: Eleonora
						li.list_image
							img(src="img/matras.png", alt="matras")
						li.list_info Askona
						li.list_info 200 кг.
						li.list_info Средняя
						li.list_info Ортопедический
						li.list_info 21 см.
						li.list_info  Жаккард, Термовойлок
						li.list_cart 
							button.button.button-contact.list_button_to К товару
						li.list_cart
							button.list_button_del Удалить

				.compare__content
					
					ul
						li.list_name Матрас: Eleonora
						li.list_image
							img(src="img/matras.png", alt="matras")
						li.list_info Askona
						li.list_info 200 кг.
						li.list_info Средняя
						li.list_info Ортопедический
						li.list_info 21 см.
						li.list_info  Жаккард, Термовойлок
						li.list_cart 
							button.button.button-contact.list_button_to К товару
						li.list_cart
							button.list_button_del Удалить
				.compare__content
					
					ul
						li.list_name Матрас: Eleonora
						li.list_image
							img(src="img/matras.png", alt="matras")
						li.list_info Askona
						li.list_info 200 кг.
						li.list_info Средняя
						li.list_info Ортопедический
						li.list_info 21 см.
						li.list_info  Жаккард, Термовойлок
						li.list_cart 
							button.button.button-contact.list_button_to К товару
						li.list_cart
							button.list_button_del Удалить

				.compare__content
					
					ul
						li.list_name Матрас: Eleonora
						li.list_image
							img(src="img/matras.png", alt="matras")
						li.list_info Askona
						li.list_info 200 кг.
						li.list_info Средняя
						li.list_info Ортопедический
						li.list_info 21 см.
						li.list_info  Жаккард, Термовойлок
						li.list_cart 
							button.button.button-contact.list_button_to К товару
						li.list_cart
							button.list_button_del Удалить
					



