/* 

  КНОПКИ 

*/

.button {
  display: inline-block;
  font-family: $font-light;
  font-size: em(16);
  font-weight: 300;
  padding: 10px 22px;
  background-color: $blue;
  color: $white;
  border: none;
  border-radius: 5px;
  transition: all 200ms ease-in;
  cursor: pointer;

  &:hover,
  &:focus {
    background-color: darken($blue, 5%);
  }

}


.models-button {
  font-size: em(14);
  color: $grey_3;
  // padding-bottom: 3px;
  padding: 0;
  background-color: transparent;
  border: none;
  border-bottom: 1px dashed $blue;
  cursor: pointer;
  transition: all 200ms ease-in;

  &:hover,
  &:focus {
    border-bottom: 1px dashed lighten($blue, 5%);
  }
}

.button-contact {
  background-color: transparent;
  border: 1px solid $blue;
}



// button
.product__btn-blue {
  padding: 12px 70px 12px 120px;
  font-family: $font-ultraLight;
  font-size: rem(24);
  color: $white;
  background-color: lighten($blue, 5%);
  border: 1px solid $blue;
  border-radius: 3px;
  cursor: pointer;
  position: relative;
  transition: all 180ms ease-in-out;

  &:hover,
  &:focus {
    background-color: $blue;
  }


}

.product__btn-blue-icon {
  display: inline-block;
  width: 60px;
  height: 100%;
  padding: 10px 15px;
  // background-color: red;

  position: absolute;
  top: 0;
  left: 0;

  border-right: 1px dashed $white;

  
}


