/* 
  
  ------------------------------------------------------
  БЫСТРЫЙ ПОДБОР МАТРАСА
  ------------------------------------------------------

*/

.fast-selection {
  margin-bottom: 60px;
  padding: 70px 0 60px;

  background-color: $grey_2;
  background: {
    image: url(../img/bg-bed_1.jpg);
    size: cover;
    repeat: no-repeat;
    position: center;
  }

}

.fast-selection__content {
  padding-left: 100px;
}


.fast-selection__title {
  margin-bottom: 30px;
  font-family: $font-extraBold;
  font-size: rem(30);
  color: $white;
  text-transform: uppercase;

  margin-top: 0;
  font-weight: normal;
}

.fase-selection__title-custom {
  font-size: rem(48);
}


.fast-selection__button {
  padding: 13px 19px;
}


/* 992px */
@include breakpoint(992px down) {

  .fast-selection__content {
    padding-left: 60px;
  }
  
  .fast-selection {
    padding: 60px 0 50px;
  }
  
  .fast-selection__title {
    margin-bottom: 20px;
    font-size: rem(26);
  }


  .fase-selection__title-custom {
    font-size: rem(44);
  }

}

/* 768px */
@include breakpoint(768px down) {

  .fast-selection {
    margin-bottom: 40px;
    padding: 55px 0 45px;
  }
  
  .fast-selection__content {
    padding-left: 40px;
  }
  

  .fast-selection__button {
    font-size: em(14);
  }
  

}


/* 
  мобильная версия  
*/

/* 620px */
@include breakpoint(620px down) {

  .fast-selection {
    padding: 56px 20px 44px;
  }

  .fast-selection__content {
    padding-left: 20px;
    padding-right: 20px;
  }

  .fast-selection__title {
    display: inline-block;
    margin-bottom: 0;
    font-size: rem(24);

  }
  .fase-selection__title-custom {
    font-size: rem(38);
  }

  .fast-selection__button {
    float: right;
    margin-top: 15px;
    font-family: $font-bold;
    font-size: em(24);
    vertical-align: middle;
  }

}


/* 565px */
@include breakpoint(565px down) {

  .fast-selection {
    padding: 56px 10px 44px;
  }


  .fast-selection__content {
    padding-left: 10px;
    padding-right: 10px;
  }
  

  .fast-selection__title {
    display: inline-block;
    margin-bottom: 0;
    font-size: rem(20);

  }
  .fase-selection__title-custom {
    font-size: rem(34);
  }

  .fast-selection__button {
    font-size: em(20);
  }

}


/* 480px */
@include breakpoint(480px down) {
  
  .fast-selection__content {
    text-align: center;
  }

  .fast-selection__title {
    font-size: rem(24);

  }
  .fase-selection__title-custom {
    font-size: rem(38);
  }

  .fast-selection__button {
    float: none;
    font-size: em(24);
  }

}