/* 

  БЫСТРЫЙ ПОДБОР МАТРАСА

*/

.fast-selection {
  margin-bottom: 60px;
  padding: 70px 0 60px;

  background-color: $grey_2;
  background: {
    image: url(../img/bg-bed_1.jpg);
    size: cover;
    repeat: no-repeat;
    position: center;
  }

}

.fast-selection__content {
  padding-left: 100px;
}


.fast-selection__title {
  margin-bottom: 30px;
  font-family: $font-extraBold;
  font-size: rem(30);
  color: $white;
  text-transform: uppercase;

  margin-top: 0;
  font-weight: normal;
}

.fase-selection__title-custom {
  font-size: rem(48);
}


.fast-selection__button {
  padding: 13px 19px;
}
