/* 
	
	ФУТЕР

*/

.footer-main {
  height: 520px;
  margin-top: -520px;
  position: relative;
	padding-top: 43px;
  background-color: $bg-footer_1;
  color: $bg-footer-color;
}


.footer-main__logo-column,
.footer-main__clients-column,
.footer-main__catalog-column,
.footer-main__connect-column {
	@include grid-col(3);
}


/* 
	колонка с логотипом
*/
.footer__logo {
	width: 100%;
	height: 79px;
	margin-bottom: 22px;
	position: relative;
	
	img {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		max-width: 100%;
		max-height: 100%;
		margin: 0 auto;
	}
}


.logo-col__paragraph {
	font-size: em(12);
	margin-bottom: 30px;
}

.logo-col__arrows {
	text-align: right;

}

.logo-col__arrows-link {
	padding: 5px 10px;

	&:hover,
	&:focus {
		svg * {
			fill: $orange;
		}
	}
	
	svg {
	width: 9px;
	height: 13px;
	margin-left: -4px;

		* {
			transition: all 185ms ease-in;
			fill: $bg-footer-color;
		}			
	} 

} 


/* 
	заголовок колонок футера
 */
.footer-col__title {
	margin-bottom: 25px;
	padding-left: 3px;
	padding-bottom: 5px;
	color: $white;
	font-size: em(24);
	border-bottom: 1px solid $bg-footer-color;
	font-family: $font-book;
}


/* 
	клиентам
*/

.footer-main__clients-column {
	padding-top: 20px;
}


.footer-col__list-item{
	width: 100%;
	margin-bottom: 15px;
	padding-bottom: 15px;
	border-bottom: 1px solid $bg-footer-color;

	&:hover,
	&:focus {
		
		.footer-col__link{
			color: $orange;
		}

		svg * {
			fill: $orange;
		}
	}

	svg {
	width: 8px;
	height: 10px;

		* {
			transition: all 185ms ease-in;
			fill: $bg-footer-color;
		}				
	}
}


.footer-col__link {
	display: inline-block;
	padding-left: 15px;
	color: $bg-footer-color;
	transition: all 185ms ease-in-out;
}



/* 
	каталог
*/
.footer-main__catalog-column {
	@extend .footer-main__clients-column;

}


/* 
	оставайся на связи
*/
.footer-main__connect-column {
	padding-top: 20px;

	background-image: url(../img/footer-map.png);
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center bottom;

}

.connect-list__item {
	margin-bottom: 25px;
	font-size: em(13);

	svg {
		vertical-align: top;
		width: 16px;
		height: 20px;

		* {
			fill: $bg-footer-color;
		}
	}

}

.connect-list__text {
	width: 90%;
	display: inline-block;
	padding-left: 20px;
	line-height: 18px;
}

.connect-list__email {
	color: $bg-footer-color;
	transition: all 180ms ease-in-out;

	&:hover {
		color: $orange;
	}
}



/* 
	нижняя линия футера
*/
.footer-main__bottom-line {
	padding: 20px 0 25px;
	background-color: $bg-footer_2;

}

/* 
	копирайт
 */
.f-bottom-line__copyright {
	height: 30px;
	vertical-align: middle;
	padding-top: 7px;

	font-size: em(13);

	@include grid-col(3);
}


/* 
	кнопка вверх
*/
.f-bottom-line__button-up {
	@include grid-col(1);	
	@include grid-col-off(3);
}

.f-button-up {
	display: inline-block;
	width: 30px;
	height: 30px;
	background-color: $bg-footer_1;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;

	&:hover,
	&:focus {

		svg *{
			fill: $orange;
		}
	}
	

	svg {
		margin-top: 5px;
		display: inline-block;
		vertical-align: middle;
		width: 12px;
		height: 19px;

		* {
			transition: all 180ms ease-in;
			fill: $bg-footer-color;
		}
	}
}


/* 
	социальные иконки
*/
.f-bottom-line__social-icon {
	@include grid-col(5);
}

.f-social__list {
	text-align: right;
}

.f-social__item {
	display: inline-block;
	margin-left: 8px;
}

.f-social__link {
	&:hover,
	&:focus {

		svg * {
			fill: $orange;
		}
	}

	svg {
		width: 30px;
		height: 30px;

		* {
			transition: all 180ms ease-in;
			fill: darken($bg-footer-color, 10%);
		}
	}
}


