/* 
	
	ФУТЕР

*/

.footer-main {
  height: 520px;
  margin-top: -520px;
  position: relative;
	padding-top: 43px;
  background-color: $bg-footer_1;
  color: $bg-footer-color;
}

.f-column-wrap {
	margin-bottom: 33px;
	@include clearfix;
}

.footer-main__logo-column,
.footer-main__clients-column,
.footer-main__catalog-column,
.footer-main__connect-column {
	@include grid-col(3, 20);
}


/* 
	колонка с логотипом
*/

.footer-main__logo-column {
	
	p:nth-child(3) {
		margin-bottom: 12px;
	}

}

.footer__logo {
	width: 100%;
	height: 79px;
	margin-bottom: 16px;
	position: relative;
	
	img {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		max-width: 100%;
		max-height: 100%;
		margin: 0 auto;
	}
}


.logo-col__paragraph {
	font-family: $font-light;
	font-size: em(14);
	margin-bottom: 30px;
}

.logo-col__arrows {
	text-align: right;

}

.logo-col__arrows-link {
	padding: 5px 10px;

	&:hover,
	&:focus {
		svg * {
			fill: $orange;
		}
	}
	
	svg {
	width: 9px;
	height: 13px;

		* {
			transition: all 185ms ease-in;
			fill: $bg-footer-color;
		}			
	} 

} 


/* 
	заголовок колонок футера
 */
.footer-col__title {
	margin-bottom: 19px;
	padding-left: 3px;
	padding-bottom: 5px;
	font-family: $font-light;
	font-size: em(24);
	color: $white;
	border-bottom: 1px solid $bg-footer-color;
	text-transform: uppercase;
}


/* 
	клиентам
*/

.footer-main__clients-column {
	padding-top: 20px;
}


.footer-col__list-item{
	width: 100%;
	margin-bottom: 8px;
	padding-bottom: 10px;
	border-bottom: 1px solid $bg-footer-color;
	text-align: justify;

	&:hover,
	&:focus {
		
		.footer-col__link{
			color: $orange;
		}

		svg * {
			fill: $orange;
		}
	}

	svg {
	width: 9px;
	height: 10px;

		* {
			transition: all 185ms ease-in;
			fill: $bg-footer-color;
		}				
	}
}


.footer-col__link {
	width: 93%;
	display: inline-block;
	padding-left: 15px;
	font-family: $font-light;
	font-size: em(14);
	color: $bg-footer-color;
	transition: all 185ms ease-in-out;
	vertical-align: middle;
}



/* 
	каталог
*/
.footer-main__catalog-column {
	@extend .footer-main__clients-column;

}


/* 
	оставайся на связи
*/
.footer-main__connect-column {
	padding-top: 20px;

	background-image: url(../img/footer-map.png);
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center bottom;

}

.connect-list__item {
	margin-bottom: 25px;
	font-size: em(14);

	svg {
		vertical-align: top;
		width: 16px;
		height: 20px;

		* {
			fill: $bg-footer-color;
		}
	}

}

.connect-list__text {
	width: 88%;
	display: inline-block;
	padding-left: 17px;
	line-height: 18px;
	vertical-align: bottom;
}

.connect-list__email {
	color: $bg-footer-color;
	transition: all 180ms ease-in-out;

	&:hover {
		color: $orange;
	}
}



/* 
	нижняя линия футера
*/
.footer-main__bottom-line {
	position: absolute;
	left: 0;
	bottom: 0;
	right: 0;
	padding: 20px 0 25px;
	background-color: $bg-footer_2;

}

/* 
	копирайт
 */
.f-bottom-line__copyright {
	height: 30px;
	vertical-align: middle;
	padding-top: 7px;

	font-size: em(13);

	@include grid-col(5);
}


/* 
	кнопка вверх
*/
.f-bottom-line__button-up {
	@include grid-col(1, 0);	
	@include grid-col-off(6%);
}

.f-button-up {
	display: inline-block;
	width: 30px;
	height: 30px;
	background-color: $bg-footer_1;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;

	&:hover,
	&:focus {

		svg *{
			fill: $orange;
		}
	}
	

	svg {
		margin-top: 5px;
		display: inline-block;
		vertical-align: middle;
		width: 12px;
		height: 19px;

		* {
			transition: all 180ms ease-in;
			fill: $bg-footer-color;
		}
	}
}


/* 
	социальные иконки
*/
.f-bottom-line__social-icon {
	@include grid-col(5);
}

.f-social__list {
	text-align: right;
}

.f-social__item {
	display: inline-block;
	margin-left: 8px;
}

.f-social__link {
	&:hover,
	&:focus {

		svg * {
			fill: $orange;
		}
	}

	svg {
		width: 30px;
		height: 30px;

		* {
			transition: all 180ms ease-in;
			fill: darken($bg-footer-color, 10%);
		}
	}
}


/* 
	медиа для футера
*/


/* 992px */
@include breakpoint(992px down) {
	.footer-col__title {
		font-size: em(18);
	}

	.footer__logo {
		height: 65px;
	}


}


/* 768px */
@include breakpoint(768px down) {

	.footer-col__title {
		font-size: em(18);
	}


	.footer-main__logo-column {
	
		p:nth-child(2) {
			margin-bottom: 15px;
		}
	}

	.logo-col__paragraph {
		font-size: em(12);
	}

	.footer__logo {
		height: 50px;
		margin-bottom: 10px;
	}

	.footer-col__link {
		padding-left: 5px;
		font-size: em(12);
	}

	.connect-list__text {
		font-size: em(12);
	}


}


/* 
  мобильная версия  
*/

/* 620px */
@include breakpoint(620px down) {

	.footer-main {
		height: 623px;
		padding: 30px 20px;
		overflow: hidden;
	}

	
	.footer-main__logo-column,
	.footer-main__clients-column {
		display: none;
	}

	.footer-main__catalog-column {
		display: block;
		width: grid-column(100%);
		padding-top: 0;
	}

	.footer-col__title {
		font-size: em(24);
		padding-left: 15px;
	}

	.footer-col__list {
		text-align: center;
	}


	.footer-col__list-item {
		width: auto;
		display: inline-block;
		margin-right: 25px;
		margin-bottom: 25px;
		padding: 10px 16px;
		border-bottom: none;
		border: 1px solid white;
		border-radius: 2px;

		svg {
			display: none;
		}
	}

	.footer-col__link {
		width: auto;
		font-size: em(18);
	}



	.footer-main__connect-column {
		width: grid-column(100%);
		padding-top: 0;
		padding-bottom: 130px;


		background-image: url(../img/footer-map__mobile.png);
		background-size: contain;
		background-repeat: no-repeat;
		background-position: center 30%;

	}

	.conntect__lists {
		padding-top: 43px;
		@include clearfix;

		li:nth-child(1) {
			width: 60%;
		}

		li:nth-child(2),
		li:nth-child(3), {
			width: 40%;
		}

		li:nth-child(2) {
			margin-bottom: 11px;
		}
	}
	
	.connect-list__item {
		width: 50%;
		float: left;
		margin-bottom: 0;
	}

	.connect-list__text {
		font-size: em(18);
	}



	.footer-main__bottom-line {
		padding: 0;
    background-color: transparent;
	}

	.f-bottom-line__copyright,
	.f-bottom-line__button-up {
		display: none;
	}

	.f-bottom-line__social-icon {
		width: grid-column(100%);
		position: relative;
		top: -60px;
	}

	.f-social__list {
		text-align: center;
	}

	.f-social__item {
		margin: 0 10px;

		padding: 8px 10px;
		background-color: #2b2a29;
	}

	.f-social__link {
	
		svg {
			width: 40px;
			height: 40px;
		}

		svg *{
			fill: #fff;
		}
	}

}

/* 475px */
@include breakpoint(475px down) {
	.footer-main {
		// height: 60px;
		padding: 20px 10px;
	}

	
}


/* 451px */
@include breakpoint(451px down) {
	.footer-main {
		height: 650px;
		padding-bottom: 0;
	}

	.footer-col__link {
		font-size: em(16);
	}

	.connect-list__text {
		font-size: em(16);
	}

	.f-bottom-line__social-icon {
		top: -100px;
	}

	.f-social__item {
		margin: 0 8px;
		padding: 5px 7px;

	}

	.f-social__link {
	
		svg {
			width: 30px;
			height: 30px;
		}

		svg *{
			fill: #fff;
		}
	}


}


/* 427px */
@include breakpoint(427px down) {
	.footer-main {
		height: 671px;

	}


	.conntect__lists {
		padding-top: 43px;
		@include clearfix;
		padding-left: 50px;

		li:nth-child(1) {
			width: 100%;
			margin-bottom: 15px;
		}

		li:nth-child(2),
		li:nth-child(3), {
			width: 100%;
		}

		li:nth-child(2) {
			margin-bottom: 15px;
		}
	}

	.f-bottom-line__social-icon {
		top: -30px;
	}

	
}


/* 380px */
@include breakpoint(380px down) {

	.footer-main {
		height: 704px;
		overflow: hidden;
	}

	.conntect__lists {
		padding-top: 33px;

	}


	.f-bottom-line__social-icon {
		top: -40px;
	}
}


/* 362px */
@include breakpoint(362px down) {
	.footer-main {
		height: 730px;
	}
}


/* 340px */
@include breakpoint(362px down) {
	.footer-main {
		height: 730px;
	}


	.f-bottom-line__social-icon {
		top: -25px;
	}

	.f-social__item {
		margin: 0 6px;
		padding: 4px 6px;

	}

	.f-social__link {
	
		svg {
			width: 28px;
			height: 28px;
		}

		svg *{
			fill: #fff;
		}
	}
}