/* 
  
  ХЭДЕР

 */

// HEADER TOP LINE
//-------------------------------------------
/* 
  верхняя линия хэдера
 */
.header__top-line {
  background-color: $black;
  padding: 7px 0 3px;

}


/* 
  правая колонка с ссылками
 */
.h-top-line__links-list {
  @include grid-column(33%);

  li:first-child {
    &:before {
      content: '';
      display: none;
    }
  }

}

.h-top-line__item {
  display: inline-block;
  vertical-align: middle;

  &:before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    width: 1px;
    height: 12px;
    margin: 0 20px;
    background-color: $white;
  }
}

.h-top-line__link {
  font-family: $font-light;
  font-size: em(12);
  transition: all 180ms ease-in;
  font-weight: 300;
  color: $white;

  &:hover {
    color: $orange;
  }
}



/* 
  центральная колонка с телефоном
 */
.h-top-line__call {
  padding-top: 3px;
  padding-right: 10px;
  text-align: center;

  @include grid-column(33%);
}
  
.h-top-line__call-number {
  display: inline-block;
  font-family: $font-book;
  font-size: em(15);
  color: $white;
  vertical-align: middle;
  margin-left: -10px;

}

.h-top-line__call-text {
  display: inline-block;
  font-family: $font-book;
  display: inline-block;
  vertical-align: middle;
  margin-left: 20px;
  border-bottom: 1px dashed $blue;
  transition: all 200ms ease-in;
  color: $white;
  font-size: em(14);
  cursor: pointer;

  &:hover {
    border-bottom: 1px dashed lighten($blue, 5%);
  }
}


/* 
  правая колонка с личным кабинетом
*/
.h-top-line__office {
  text-align: right;

  @include grid-column(33%, 20);
}

.h-top-line__office-icon {
  display: inline-block;
  width: 35px;
  margin-right: 15px;
  vertical-align: middle;
}

.h-top-line__office-text {
  font-size: em(13);
  color: $white;
}




/* 
  средняя линия 
*/
.header__middle-line {
  padding: 19px 0 13px;
}

/* 
  логотип
 */
.h-middle-line__main-logo {
  @include grid-col(25%);
}

.h-middle-line__logo {
  display: block;
}

.logo-pic {
  width: 270px;
  max-height: 80px;
}


/* 
  навигация
*/
.h-middle-line__nav {

  @include grid-column(61%);
}

.h-middle-line__nav-list {
  padding-top: 32px;
  text-align: justify;

  &:after {
    content: '';
    display: inline-block;
    width: 100%;
    height: 0;
  }
}

.h-middle-line__nav-item {
  display: inline-block;
}

.h-middle-line__nav-link {
  font-family: $font-book;
  font-size: em(15);
  color: $grey_1;

  &.active {
    text-transform: uppercase;
    color: $blue;
  }

}


/* 
  корзина
*/
.h-middle-line__amount-product {
  padding-top: 25px;
  
  @include grid-column(14%);
}

.amount-product__icon {
  display: block;
  float: left;
  width: 20%;
  position: relative;

  img {
    position: absolute;
    top: 3px;
  }
}

.amount-product__text {
  width: 80%;
  float: right;
  display: block;
  padding-left: 12px;
}


.amount-product__count {
  display: inline-block;
  width: 100%;
  font-size: em(14);
  color: $grey_1;


}

.amount-product__sum {
  display: inline-block;
  width: 100%;
  font-size: em(16);
  color: $orange;

}




/* 
  нижняя линия
*/
.header__bottom-line {
  background-color: $grey_1;
}


.h-bottom-line__menu {
  // background-color: green;
  @include grid-col(82%, 0);


}

.h-bottom-line__menu-list {
  @include clearfix;
}

.h-bottom-line__item {
  float: left;
  border-bottom: 2px solid $grey_1;
  transition: all 180ms ease-in;

  &:hover {
    background-color: $black;
    border-bottom: 2px solid $blue;
  }
}

.h-bottom-line__link {
  display: inline-block;
  padding: 25px em(30);
  font-family: $font-book;
  text-transform: uppercase;
  font-size: 14px;
  color: $white;
}



.h-bottom-line__search {
  padding-top: 20px;

 @include grid-col(18%, 20);

}
.h-bottom-line__search-input {
  float: left;
  display: inline-block;
  width: 80%;
  padding: 4px;
  font-family: $font-light;
  font-size: rem(12);
  background-color: $black;
  border: none;
  border-left: 1px solid $white;
  border-radius: 3px;
  outline: none;
  color: $grey_2;

  @include placeholder {
    color: $grey_2;
  }
}

.h-bottom-line__search-submit {
  float: right;
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: transparent;
  background-image: url(../img/icon/icon-search.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  border: none;
  outline: none;
  cursor: pointer;
}


/* 
  
  Хэдер медиа запросы

*/


/* 1115px */
@include breakpoint(1115px down) {

  /* средняя линия */
  .header__middle-line {
    padding: 14px 0 8px;
  }

  .h-middle-line__main-logo {
    width: grid-column(20%);
  }

  .h-middle-line__nav {
    font-size: em(14);
  }
  .h-middle-line__nav-list {
    padding-top: 20px;
  }


  .h-middle-line__amount-product {
    padding-top: 9px;
    width: grid-column(19%);
  }

  .amount-product__sum {
    font-size: em(15);
  }

  /* нижняя линия */
  .h-bottom-line__menu {
    width: grid-column(78%);
  }
  .h-bottom-line__link {
    padding: 25px em(25);
    font-size: 13px;
  }

  .h-bottom-line__search {
    width: grid-column(22%); 
  }
}



/* 1016px */
@include breakpoint(1016px down) {
  .h-bottom-line__link {
    font-size: 12px;
  }
}

/* 992px */
@include breakpoint(992px down) {
  .h-top-line__call {
    font-size: em(14)
  }

  .h-top-line__call-text {
    font-size: em(13)
  }

  .h-top-line__office {
    width: grid-column(26%);
  }

  .h-top-line__office-icon {
    width: 28px;
  }

  .h-top-line__office-text {
    font-size: em(12);
  }

  .h-top-line__call {
    width: grid-column(40%);
  }
}


/* 936px */
@include breakpoint(936px down) {
  .h-bottom-line__link {
    padding: 25px em(20);
    // font-size: 12px;
  }
}

/* 875px */
@include breakpoint(875px down) {
  .h-bottom-line__link {
    padding: 18px em(15);
    font-size: 11px;
  }

  .h-bottom-line__search {
    padding-top: 15px; 
  }
}

/* 815px */
@include breakpoint(815px down) {
  .h-middle-line__nav-list {
    padding-top: 14px;
  }

  .h-middle-line__amount-product {
    padding-top: 5px;
  }
}

/* 786px */
@include breakpoint(786px down) {
  
  .h-top-line__links-list {
    padding-left: 5px;
    padding-right: 0px;
  }

  .h-top-line__item {
  
    &:before {
      margin: 0 10px;
    }
  }

  .h-middle-line__main-logo {
    padding-right: 0;
  }

  .h-middle-line__nav-list {
    padding-top: 14px;
  }

  .h-middle-line__amount-product {
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .amount-product__icon {
    width: 15%;
  }

  .amount-product__text {
    width: 85%;
  }

  .amount-product__sum {
    font-size: em(14);
  }

  .h-middle-line__nav {
    font-size: em(13);
    padding-left: 10px;
    padding-right: 10px;
  }

}


/* 735px */
@include breakpoint(735px down) {
  .h-bottom-line__link {
    padding: 16px em(10);
    font-size: 10px;
  }

  .h-bottom-line__menu {
    width: grid-column(73%);
  }

  .h-bottom-line__search {
    padding-top: 10px;
    width: grid-column(27%);
  }

  .h-bottom-line__search-submit {
    width: 17px;
  }
}

/* 660px */
@include breakpoint(660px down) {
  
  .h-bottom-line__menu {
    width: grid-column(77%);
  }

  .h-bottom-line__search {
    padding-top: 10px;
    width: grid-column(23%);
  }
}