/* 

  СТИЛИ ДЛЯ СТРЕЛОК SLICK SLIDER

*/



// 
//

.card-page__arrows {
  text-align: right;
  @include grid-col(15%, 0);

  .card-page__arrows-left {
    display: inline-block;
    padding: 10px;

    cursor: pointer;

    &:hover,
    &:focus {
      svg * {
        fill: $orange;
      }
    }

    svg {
      width: 10px;
      height: 14px;

      * {
        transition: all 180ms ease-in;
        fill: $arrows-color_1;
      }
    }
  }

  .card-page__arrows-right {
    @extend .card-page__arrows-left;
    margin-left: 35px;
  }
}

