/* 

  СТИЛИ ДЛЯ ЗАГОЛОВКОВ СЕКЦИЙ

*/

.title-section {
	border-bottom: 3px solid $grey_2;
  margin-bottom: 25px;
  @include grid-row();
}

.title-section__header {
  font-family: $font-ultraLight;
	font-size: em(30);
  color: $grey_1;
  font-weight: 300;
  text-transform: uppercase;

  margin-top: 0;
  font-weight: normal;
  @include grid-col(3);
}

