.ui-slider {
  position: relative;
  text-align: left;
}


/* Ширина, высота и позиционирование для ползунков
----------------------------------*/
.ui-slider .ui-slider-handle {
  position: absolute;
  z-index: 2;
  width: 10px;
  height: 10px;
  cursor: default;
  -ms-touch-action: none;
  touch-action: none;
  cursor: pointer;
}

.ui-slider .ui-slider-range {
  position: absolute;
  z-index: 1;
  font-size: .7em;
  display: block;
  border: 0;
  background-position: 0 0;
}

/* support: IE8 - See #6727 */
.ui-slider.ui-state-disabled .ui-slider-handle,
.ui-slider.ui-state-disabled .ui-slider-range {
  filter: inherit;
}

/* Высота горизонтальной полоски
----------------------------------*/
.ui-slider-horizontal {
  height: 3px;
}

.ui-slider-horizontal .ui-slider-handle {
  top: -.26em;
  margin-left: -.6em;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -o-border-radius: 50%;
}

.ui-slider-horizontal .ui-slider-range {
  top: 0;
  height: 100%;
}

.ui-slider-horizontal .ui-slider-range-min {
  left: 0;
}

.ui-slider-horizontal .ui-slider-range-max {
  right: 0;
}

/* Ширина вертикальной полоски
----------------------------------*/
.ui-slider-vertical {
  width: .8em;
  height: 100px;
}

.ui-slider-vertical .ui-slider-handle {
  left: -.3em;
  margin-left: 0;
  margin-bottom: -.6em;
}

.ui-slider-vertical .ui-slider-range {
  left: 0;
  width: 100%;
}

.ui-slider-vertical .ui-slider-range-min {
  bottom: 0;
}

.ui-slider-vertical .ui-slider-range-max {
  top: 0;
}

/* Указание шрифта и размера текста
----------------------------------*/
.ui-widget {
  font-family: Verdana,Arial,sans-serif;
  font-size: 1.1em;
}

.ui-widget .ui-widget {
  font-size: 1em;
}

.ui-widget input,
.ui-widget select,
.ui-widget textarea,
.ui-widget button {
  font-family: Verdana,Arial,sans-serif;
  font-size: 1em;
}

/* Стилизация полоски
----------------------------------*/
.ui-widget-content {
  margin-top: 10px;
  
  background: #e6e6e6;
  color: #222222;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
}

.ui-widget-content a {
  color: #222222;
}

/* Стилизация промижудка между ползунками
----------------------------------*/
.ui-widget-header {
  background: #61c2d0;
  color: #222222;
  
}

.ui-widget-header a {
  color: #222222;
}

/* Стилизация ползунков 
----------------------------------*/
.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default {
  font-weight: normal;
  color: #555555;
  border: 2px solid #61c2d0;
  background: #e3e5e5;
  

}

.ui-state-default a,
.ui-state-default a:link,
.ui-state-default a:visited {
  color: #555555;
  text-decoration: none;
}

/* Стилизация ползунка при наведении и фокусе
----------------------------------*/
.ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover,
.ui-state-focus,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus {
 
}

/* 

	мои стили

*/
.amount-slider {
  width: 70px;
  height: 30px;
  padding: 5px 15px;
  font-size: 12px;
  border-radius: 5px;
  border: 1px dotted #61c2d0;
  color: #7a7a7a;
}
.range_slider_wrap{
  display: inline-block;
  font-size: 14px;
}
.range_slider_w{
  width: 150px;
}

.catalog__select_wrap .select2-container--default .select2-selection--single{

  border: 1px dotted #61c2d0;
}