section.p404__main-content

	.p404-wrap

		.container

			.p404-wrap__content
				.p404-section1_wrap
					.p404-section1
						p.p404_error ошибка
						p.p404_404 404
						p.p404_text Запрашеваемая вами страница не существует либо была удалена
						br
						a.p404_comeback(href="index.html") &#8592; Вернутся на главную страницу
				.p404-section2_wrap
					.p404-section2
						img(src="img/404matras.png", alt="image")
			.p404-section3_wrap
					ul
						li.p404_link#p404_link1 
							a(href="index.html") Главная
						li.p404_link#p404_link2 
							a(href="about-page.html") О нас 
						li.p404_link#p404_link3
							a(href="contact.html") Контакты
					



