section.cart__main-content

	.cart-wrap

		.container

			.cart-wrap__content
				
				ul
					li.cart__list_tovar.list_tovar_head Товар
					li.cart__list_name.list_name_head Название
					li.cart__list_price.list_price_head Цена
					li.cart__list_quantity.list_quantity_head Количество
					li.cart__list_coast.list_coast_head Стоимость
				ul
					li.cart__list_tovar 

						img(src="img/bed_1.png", alt="matras")

					li.cart__list_name 
						p.list_name_p_name Матрас: Eleonora valensia premium Multitouch
						br  
						p.list_name_p_size Размер: 220x160 см

					li.cart__list_price.list_price_content 19 600 руб.

					li.cart__list_quantity.product__form-count.cart_count
						button.form-count__minus -
						input(class='form-count__input cart-count_input' type="text" value='0')
						button.form-count__plus +

					li.cart__list_coast.list_coast_content 0 руб.
				ul
					li.cart__list_tovar 

						img(src="img/bed_1.png", alt="matras")

					li.cart__list_name 
						p.list_name_p_name Матрас: Eleonora valensia premium Multitouch
						br  
						p.list_name_p_size Размер: 220x160 см

					li.cart__list_price.list_price_content 19 600 руб.

					li.cart__list_quantity.product__form-count.cart_count
						button.form-count__minus -
						input(class='form-count__input cart-count_input' type="text" value='0')
						button.form-count__plus +

					li.cart__list_coast.list_coast_content 0 руб.
				ul
					li.cart__list_tovar 

						img(src="img/bed_1.png", alt="matras")

					li.cart__list_name 
						p.list_name_p_name Матрас: Eleonora valensia premium Multitouch
						br  
						p.list_name_p_size Размер: 220x160 см

					li.cart__list_price.list_price_content 19 600 руб.

					li.cart__list_quantity.product__form-count.cart_count
						button.form-count__minus -
						input(class='form-count__input cart-count_input' type="text" value='0')
						button.form-count__plus +

					li.cart__list_coast.list_coast_content 0 руб.
				ul
					li.cart__list_tovar 

						img(src="img/bed_1.png", alt="matras")

					li.cart__list_name 
						p.list_name_p_name Матрас: Eleonora valensia premium Multitouch
						br  
						p.list_name_p_size Размер: 220x160 см

					li.cart__list_price.list_price_content 19 600 руб.

					li.cart__list_quantity.product__form-count.cart_count
						button.form-count__minus -
						input(class='form-count__input cart-count_input' type="text" value='0')
						button.form-count__plus +

					li.cart__list_coast.list_coast_content 0 руб.
				ul
					li.cart__list_tovar 

						img(src="img/bed_1.png", alt="matras")

					li.cart__list_name 
						p.list_name_p_name Матрас: Eleonora valensia premium Multitouch
						br  
						p.list_name_p_size Размер: 220x160 см

					li.cart__list_price.list_price_content 19 600 руб.

					li.cart__list_quantity.product__form-count.cart_count
						button.form-count__minus -
						input(class='form-count__input cart-count_input' type="text" value='0')
						button.form-count__plus +

					li.cart__list_coast.list_coast_content 0 руб.
				.cart_oplata
					.cart_oplata_section1
						a.cart_prod_pok(href="#") Продолжить покупки
					.cart_oplata_section2
						p.itogo Итого
						p.cart_price_wrap
							span.oplata_p К ОПЛАТЕ : 
							span.k_oplate  0 руб.
						button.cart_button_credit В кредит
						button.cart_button_zakaz Оформить заказ




