// FAST SELECTION 
section.fast-selection
  
  .container
  
    .fast-selection__content
      h2.fast-selection__title Подбор матраса 
        br
        span.fase-selection__title-custom за 30 секунд
        
      button.fast-selection__button.button 
        | Подобрать сейчас

// end FAST SELECTION 
// ######################################################################