// FAST SELECTION 
section.fast-selection
	
	.container
	
		.fast-selection__content
			//- .fast-selection__title-wrap
			h2.fast-selection__title Подбор матраса 
				br
				span.fase-selection__title-custom за 30 секунд
			
			//- .fast-selection__button-wrap
			button.fast-selection__button.button 
				| Подобрать сейчас

// end FAST SELECTION 
// ######################################################################