// INDIVIDUAL SECTION
section.individual-section

	.container

		.individual-section__content
			h2.individual-section__title Пошить под заказ 
				br
				span.individual-section__title-custom Индивидуальный матрас

			ul.individual-section__list
				li Без наценки
				li Любой размер
				li Изготовление за 1 день
				li Доставка по Москве бесплатно

			button.button Подобрать сейчас
// end INDIVIDUAL SECTION
// ######################################################################