mixin matrasses-item(new_item, bed_image , title, price)
	li.matrasses-model__item
		.matrasses-model__item-wrap
			.matrasses-model__item-new #{new_item}
			.matrasses-model__item-pic
				img(src="img/#{bed_image}", alt="Матрасы")
			h3.matrasses-model__title #{title}
			.matrasses-model__form
				form(action="")
					select(data-placeholder='Размер').matrasses-model__select
						option Размер
						option Размер 1
						option Размер 2
						option Размер 3
					span.matrasses-model__price #{price}
					.matrasses-model__button-wrap
						button.matrasses-model__button-click Купить в 1 клик
						button.matrasses-model__button-basket В корзину


// MATRASSES MODELS
section.main-page__mattresses-models

	.container
		
		// HEADER ITEM
		.title-section.mp__title-s
			h2.title-section__header.main-page__title-section Новые модели

			ul.title-section__tab.main-page__title-section-tab
				li(data-tab='tab-1').title-section__tab-item.current
					span.title-section__tab-link Эконом 
				li(data-tab='tab-2').title-section__tab-item
					span.title-section__tab-link Беспружинные
				li(data-tab='tab-3').title-section__tab-item
					span.title-section__tab-link Basic
				li(data-tab='tab-4').title-section__tab-item
					span.title-section__tab-link Comfort
				li(data-tab='tab-5').title-section__tab-item
					span.title-section__tab-link Comform Plus
				li(data-tab='tab-6').title-section__tab-item
					span.title-section__tab-link Premium
				li(data-tab='tab-7').title-section__tab-item
					span.title-section__tab-link Детские
			// end HEADER ITEM

		.mp__matrasses-select
			select
				option Эконом 
				option Беспружинные
				option Basic 
				option Comfort
				option Comform Plus
				option Premium
				option Детские


		// TABS
		// tabs 1
		ul.matrasses-model__list-items.main-page__tabs-item.current#tab-1
			+matrasses-item('Новинка', 'bed_1.png' ,'Матрас: Eleonora valensia premium Multitouch', '8 300 руб.')
			+matrasses-item('Новинка', 'bed_1.png' ,'Матрас: Eleonora valensia premium Multitouch', '8 300 руб.')
			+matrasses-item('Новинка', 'bed_1.png' ,'Матрас: Eleonora valensia premium Multitouch', '8 300 руб.')
			+matrasses-item('Новинка', 'bed_1.png' ,'Матрас: Eleonora valensia premium Multitouch', '8 300 руб.')
			+matrasses-item('Новинка', 'bed_1.png' ,'Матрас: Eleonora valensia premium Multitouch', '8 300 руб.')
			+matrasses-item('Новинка', 'bed_1.png' ,'Матрас: Eleonora valensia premium Multitouch', '8 300 руб.')

		// tabs 2
		ul.matrasses-model__list-items.main-page__tabs-item#tab-2
			+matrasses-item('Новинка', 'bed_1.png' ,'Матрас: Eleonora valensia premium Multitouch', '8 300 руб.')

		// tabs 3
		ul.matrasses-model__list-items.main-page__tabs-item#tab-3
			+matrasses-item('Новинка', 'bed_1.png' ,'Матрас: Eleonora valensia premium Multitouch', '8 300 руб.')
			+matrasses-item('Новинка', 'bed_1.png' ,'Матрас: Eleonora valensia premium Multitouch', '8 300 руб.')
			
		// tabs 4
		ul.matrasses-model__list-items.main-page__tabs-item#tab-4
			+matrasses-item('Новинка', 'bed_1.png' ,'Матрас: Eleonora valensia premium Multitouch', '8 300 руб.')
			+matrasses-item('Новинка', 'bed_1.png' ,'Матрас: Eleonora valensia premium Multitouch', '8 300 руб.')
			+matrasses-item('Новинка', 'bed_1.png' ,'Матрас: Eleonora valensia premium Multitouch', '8 300 руб.')
			
		// tabs 5
		ul.matrasses-model__list-items.main-page__tabs-item#tab-5
			+matrasses-item('Новинка', 'bed_1.png' ,'Матрас: Eleonora valensia premium Multitouch', '8 300 руб.')
			+matrasses-item('Новинка', 'bed_1.png' ,'Матрас: Eleonora valensia premium Multitouch', '8 300 руб.')
			+matrasses-item('Новинка', 'bed_1.png' ,'Матрас: Eleonora valensia premium Multitouch', '8 300 руб.')
			+matrasses-item('Новинка', 'bed_1.png' ,'Матрас: Eleonora valensia premium Multitouch', '8 300 руб.')

		// tabs 6
		ul.matrasses-model__list-items.main-page__tabs-item#tab-6
			+matrasses-item('Новинка', 'bed_1.png' ,'Матрас: Eleonora valensia premium Multitouch', '8 300 руб.')
			+matrasses-item('Новинка', 'bed_1.png' ,'Матрас: Eleonora valensia premium Multitouch', '8 300 руб.')
			+matrasses-item('Новинка', 'bed_1.png' ,'Матрас: Eleonora valensia premium Multitouch', '8 300 руб.')
			+matrasses-item('Новинка', 'bed_1.png' ,'Матрас: Eleonora valensia premium Multitouch', '8 300 руб.')
			+matrasses-item('Новинка', 'bed_1.png' ,'Матрас: Eleonora valensia premium Multitouch', '8 300 руб.')


		// tabs 7
		ul.matrasses-model__list-items.main-page__tabs-item#tab-7
			+matrasses-item('Новинка', 'bed_1.png' ,'Матрас: Eleonora valensia premium Multitouch', '8 300 руб.')
			+matrasses-item('Новинка', 'bed_1.png' ,'Матрас: Eleonora valensia premium Multitouch', '8 300 руб.')
			+matrasses-item('Новинка', 'bed_1.png' ,'Матрас: Eleonora valensia premium Multitouch', '8 300 руб.')
			+matrasses-item('Новинка', 'bed_1.png' ,'Матрас: Eleonora valensia premium Multitouch', '8 300 руб.')
			+matrasses-item('Новинка', 'bed_1.png' ,'Матрас: Eleonora valensia premium Multitouch', '8 300 руб.')
			+matrasses-item('Новинка', 'bed_1.png' ,'Матрас: Eleonora valensia premium Multitouch', '8 300 руб.')
			
			
		
		// end TABS ITEMS


		// pagination

		.mattresses-models__pagination
			.pagination-wrap
				span.pagination__control.pagination__control-left
					include ../_0-icon-svg/arrow-left.svg
				ul.pagination-list
					li.pagination__item
						a(href="#").item-link 1
					li.pagination__item
						a(href="#").item-link 2
					li.pagination__item
						a(href="#").item-link 3
					li.pagination__item
						a(href="#").item-link 4
					li.pagination__item
						a(href="#").item-link 5

					li.pagination__item.dots ...

					li.pagination__item
						a(href="#").item-link 100

				span.pagination__control.pagination__control-right
					include ../_0-icon-svg/arrow-right.svg
		// end pagination
								
								
// end MATRASSES MODELS
// ######################################################################