// MATRASSES MODELS
section.main-page__mattresses-models

  .container
    
    include _4-matrasses-models/_1-top-nav
    
    include _4-matrasses-models/_2-matrasses-item

    include _4-matrasses-models/_3-matrasses-pagination
            
            
