mixin matrasses-item(new_item, bed_image , title, price)
	li.matrasses-model__item
		.matrasses-model__item-wrap
			.matrasses-model__item-new #{new_item}
			.matrasses-model__item-pic
				img(src="img/#{bed_image}", alt="Матрасы")
			h3.matrasses-model__title #{title}
			.matrasses-model__form
				form(action="")
					select(data-placeholder='Размер').matrasses-model__select
						option
						option Размер 1
						option Размер 2
						option Размер 3
					span.matrasses-model__price #{price}
					.matrasses-model__button-wrap
						button.matrasses-model__button-click Купить в 1 клик
						button.matrasses-model__button-basket В корзину



section.card-page__matrasses-items

	.container

		.title-section
			h2.title-section__header Похожие товары

			.card-page__arrows
				.card-page__arrows-left
					include _0-icon-svg/arrow-left.svg
				.card-page__arrows-right
					include _0-icon-svg/arrow-right.svg


	ul.matrasses-model__list-items.card-page__items

		+matrasses-item('Новинка', 'bed_1.png' ,'Матрас: Eleonora valensia premium Multitouch', '8 300 руб.')
		+matrasses-item('Новинка', 'bed_1.png' ,'Матрас: Eleonora valensia premium Multitouch', '8 300 руб.')
		+matrasses-item('Новинка', 'bed_1.png' ,'Матрас: Eleonora valensia premium Multitouch', '8 300 руб.')
		+matrasses-item('Новинка', 'bed_1.png' ,'Матрас: Eleonora valensia premium Multitouch', '8 300 руб.')
		+matrasses-item('Новинка', 'bed_1.png' ,'Матрас: Eleonora valensia premium Multitouch', '8 300 руб.')
		+matrasses-item('Новинка', 'bed_1.png' ,'Матрас: Eleonora valensia premium Multitouch', '8 300 руб.')
		