// FOOTER 
footer.footer-main

	.container

		.footer-main__logo-column
			.logo
			p.logo-paragraph Первая фабрика бренда «Корпорация Сна» была открыта в 2009 году. в г. Ростов-на-Дону. Стремительное развитие

			p.logo-paragraph Компания получил за счет честности при работе с людьми, за счет цен ниже рынка, при отменном качестве, высочайшего европейского сервиса и расширенных гарантий

			.link-arrow
				a(href="#").link
					include _0-icon-svg/arrow-right.svg
					include _0-icon-svg/arrow-right.svg


		.footer-main__clients-column
			.clients-title.title Клиентам
			ul.lists
				li.list-item
					include _0-icon-svg/arrow-right.svg
					a(href="@").link Пользовательсоке соглашение
				li.list-item
					include _0-icon-svg/arrow-right.svg
					a(href="@").link Гарантия
				li.list-item
					include _0-icon-svg/arrow-right.svg
					a(href="@").link Возврат
				li.list-item
					include _0-icon-svg/arrow-right.svg
					a(href="@").link Поддежка


		.footer-main__catalog-column
			.catalog-title.title Каталог
			ul.lists
				li.list-item
					include _0-icon-svg/arrow-right.svg
					a(href="@").link Матрасы
				li.list-item
					include _0-icon-svg/arrow-right.svg
					a(href="@").link Подушки
				li.list-item
					include _0-icon-svg/arrow-right.svg
					a(href="@").link Одеяла
				li.list-item
					include _0-icon-svg/arrow-right.svg
					a(href="@").link Кровати
				li.list-item
					include _0-icon-svg/arrow-right.svg
					a(href="@").link Постельное белье
				li.list-item
					include _0-icon-svg/arrow-right.svg
					a(href="@").link Основания
				li.list-item
					include _0-icon-svg/arrow-right.svg
					a(href="@").link Наматрасники


		.footer-main__connect-column
			.conntect__title Оставайтесь на связи
			ul.conntect__lists
				li.list-item
					include _0-icon-svg/location.svg
					span.addres-text.text г.Москва, ул Южнопортовая 5, строение 1-6, офис 328 "БЦ Золотое Кольцо"

				li.list-item
					include _0-icon-svg/phone.svg
					span.phone__tex.text +7 (495) 181-09-00

				li.list-item
					include _0-icon-svg/email.svg
					a(href="mailto:info@sitename.com").email__text.text info@sitename.com



	.footer-main__bottom-line
		.container

			.bottom-line__copyright
				.copyright Copyright © 2016 Корпорация сна

			.bottom-line__button-up
				//- a(href="#").button-up
				//- 	include _0-icon-svg/arrow-up.svg
				span.button-up#button-up
					include _0-icon-svg/arrow-up.svg

			.bottom-line__social-icon
				ul.icon-list
					li.list-item
						a(href="").link
							include _0-icon-svg/facebook-logo.svg

					li.list-item
						a(href="").link
							include _0-icon-svg/twitter-circular.svg
					
					li.list-item
						a(href="").link
							include _0-icon-svg/google-plus.svg
					
					li.list-item
						a(href="").link
							include _0-icon-svg/social-vimeo.svg
					
					li.list-item
						a(href="").link
							include _0-icon-svg/pinterest-social.svg
							
							





