// FOOTER 
footer.footer-main

	.container
		
		// logo column
		.footer-main__logo-column
			.footer__logo
				img(src="img/logo-footer.png", alt="")
			p.logo-col__paragraph Первая фабрика бренда «Корпорация Сна» была открыта в 2009 году. в г. Ростов-на-Дону. Стремительное развитие

			p.logo-col__paragraph Компания получил за счет честности при работе с людьми, за счет цен ниже рынка, при отменном качестве, высочайшего европейского сервиса и расширенных гарантий

			.logo-col__arrows
				a(href="#").logo-col__arrows-link
					include _0-icon-svg/arrow-right.svg
					include _0-icon-svg/arrow-right.svg
		// end logo column
		// *********************************************

		// clients column
		.footer-main__clients-column
			.footer-col__title Клиентам
			ul.footer-col__list
				li.footer-col__list-item
					include _0-icon-svg/arrow-right.svg
					a(href="#").footer-col__link Пользовательсоке соглашение
				li.footer-col__list-item
					include _0-icon-svg/arrow-right.svg
					a(href="#").footer-col__link Гарантия
				li.footer-col__list-item
					include _0-icon-svg/arrow-right.svg
					a(href="#").footer-col__link Возврат
				li.footer-col__list-item
					include _0-icon-svg/arrow-right.svg
					a(href="#").footer-col__link Поддежка
		// end clients column
		// *********************************************

		// catalog column
		.footer-main__catalog-column
			.footer-col__title Каталог
			ul.footer-col__list
				li.footer-col__list-item
					include _0-icon-svg/arrow-right.svg
					a(href="#").footer-col__link Матрасы
				li.footer-col__list-item
					include _0-icon-svg/arrow-right.svg
					a(href="#").footer-col__link Подушки
				li.footer-col__list-item
					include _0-icon-svg/arrow-right.svg
					a(href="#").footer-col__link Одеяла
				li.footer-col__list-item
					include _0-icon-svg/arrow-right.svg
					a(href="#").footer-col__link Кровати
				li.footer-col__list-item
					include _0-icon-svg/arrow-right.svg
					a(href="#").footer-col__link Постельное белье
				li.footer-col__list-item
					include _0-icon-svg/arrow-right.svg
					a(href="#").footer-col__link Основания
				li.footer-col__list-item
					include _0-icon-svg/arrow-right.svg
					a(href="#").footer-col__link Наматрасники
		// end catalog column
		// *********************************************

		// connect column
		.footer-main__connect-column
			.footer-col__title Оставайтесь на связи
			ul.conntect__lists
				li.connect-list__item
					include _0-icon-svg/location.svg
					span.connect-list__text г.Москва, ул Южнопортовая 5, строение 1-6, офис 328 "БЦ Золотое Кольцо"

				li.connect-list__item
					include _0-icon-svg/phone.svg
					span.connect-list__text +7 (495) 181-09-00

				li.connect-list__item
					include _0-icon-svg/email.svg
					a(href="mailto:info@sitename.com").connect-list__text.connect-list__email info@sitename.com
		// end connect column
		// *********************************************

	// footer bottom line
	.footer-main__bottom-line
		.container

			.f-bottom-line__copyright
				.copyright Copyright © 2016 Корпорация сна

			.f-bottom-line__button-up
				span.f-button-up#button-up
					include _0-icon-svg/arrow-up.svg

			.f-bottom-line__social-icon
				ul.f-social__list
					li.f-social__item
						a(href="").f-social__link.facebook
							include _0-icon-svg/facebook-logo.svg

					li.f-social__item
						a(href="").f-social__link
							include _0-icon-svg/twitter-circular.svg
					
					li.f-social__item
						a(href="").f-social__link
							include _0-icon-svg/google-plus.svg
					
					li.f-social__item
						a(href="").f-social__link
							include _0-icon-svg/social-vimeo.svg
					
					li.f-social__item
						a(href="").f-social__link
							include _0-icon-svg/pinterest-social.svg
	// end footer bottom line
	// *********************************************

// end FOOTER
// ###############################################################





