//- NEWS 1 BREADCRUMBS
section.breadcrumbs.news-2-page__breadcrumbs

	.container

		ul.breadcrumbs__list
			li.breadcrumbs__item
				a(href="").breadcrumbs__link 
					| Главная

			li.breadcrumbs__item
				a(href="").breadcrumbs__link
					| Новости

			li.breadcrumbs__item
				a(href="").breadcrumbs__link.breadcrumbs__link_active
					| Новая серия матрасов
