//- Orders and record

section.personal-office__orders

	.container

		.personal-office__user-account
			h2.user-accout__title 
				span.user-account__pic
				| Учетна запись

			ul.user-accout__list-links
				li.user-accout__item
					a(href="#").user-accout__link Изменить контактную информацию

				li.user-accout__item
					a(href="#").user-accout__link Изменить пароль

				li.user-accout__item
					a(href="#").user-accout__link Изменить мои адреса

			ul.user-accout__card
				li.user-accout__card-item
					a(href="#").user-accout__card-link Моя информация
				li.user-accout__card-item
					a(href="#").user-accout__card-link Мои адреса
				li.user-accout__card-item
					a(href="#").user-accout__card-link История заказов
				li.user-accout__card-item
					a(href="#").user-accout__card-link История покупок

		.personal-office__orders
			h2.user-accout__title
				span.user-account__pic.user-account__pic-orders
				| Мои заказы

			ul.user-accout__list-links
				li.user-accout__item
					a(href="#").user-accout__link История заказов

				li.user-accout__item
					a(href="#").user-accout__link История фин. операций