/* 

	СТРАНИЦА КАТАЛОГА

*/
.headwhitetext{
	color: #fff;
}
.catalog__sort_p{
	font-family: "FiraSans Light";
	text-align: right;
	margin-bottom: 20px;
	border-bottom: 2px solid #eee;
	padding-bottom: 10px;
	padding-right: 30px

}
.catalog__sort_po{
	font-family: "FiraSans Light";
	width: 130px;
	border: none;
	color: #61c2d0;
	-webkit-appearance: none;
	-ms-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background-image: url(/img/icon/arrdown.png);
  	background-position: right center;
 	background-repeat: no-repeat;
}
.catalog__sort_po option{
	padding-left:10px;
	padding-right: 10px;
}


.catalog__select_wrap{
	text-align: center;
	margin-top: 10px;
	margin-bottom: 30px;
}
.select_wrap{
	display: inline-block;
	margin-right: 10px;
	margin-left: 10px;
}
.price_catalog_input{
	width: 50px;
	padding-left: 10px;
}
.filter_select_wrap{
	margin-top: 20px;
	margin-bottom: 20px;
}

.filter_select_wrap span{
	margin-left: 10px;
	margin-right: 10px;
	
}
.filter_span{
	display:none;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 10px;
	padding-right: 10px;
}
.visible{
	display: inline !important;
}
.hiden{
	display:none;
}
.sort_img{
	margin-left: 1%;
	cursor: pointer;
}
.catalog__filter.button_wrap{
	text-align: center;
	padding-top: 30px;
	padding-bottom: 40px;
}
.closeX{

	float: right;
	font-size: 14px;
	font-family: "FiraSans Light";
	position: relative;
	display: none;
	color: #c8c6c6;

}
.closeX:before{
	cursor: pointer;
	position: absolute;
	content: "";
	background: url(../img/icon/closeX.png);
	background-repeat: no-repeat;	
	top: 4px;
	left: -20px;
	width: 20px;
	height: 20px;
	
}


/**************media adaptive*****************/
@media only screen and (max-width : 920px) {
 .matrasses-model__item{
		width: 50%;
	}
}

@media only screen and (max-width : 620px) {
	#razmerselect{
		display: block;
		width: 100%;
		margin-left: 0;
	}
	.filter_select_wrap{
		display: none !important;
	}
	#razmer{
		width: 90%;
		margin: 0 auto;
	}
	.breadcrumbs__list{
		display: none;
	}
	.catalog__sort_p{
		display: none;
	}
	.select_wrap{
		display: none;
	}
	.matrasses-model__title{
		font-family: "FiraSans SemiBold";

	}
	.matrasses-model__item{
		width: 100%;
	}
	.matrasses-model__item-wrap{
		background-color: #fff;
	}
	.matrasses-model__price{
		width: 100%;
		text-align: center;
		color: #505050;
		font-size: 18px;
		position: relative;
		display: inline-block;
		bottom: 33px;
	}
	.matrasses-model__button-click{
		position: relative;
		bottom: 47px;
		left: 40%;
	}
	.matrasses-model__select{
		position: relative;
		top: 68px;
	}
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
	.matrasses-model__button-click{
		position: relative;
		bottom: 47px;
		left: 34%;
	}
}


/* Custom, iPhone Retina */
@media only screen and (max-width : 340px) {
 	
}

@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 620px) {
	
}