/* 

  ОСНОВНАЯ СТРАНИЦА

*/
.main-page__mattresses-models {
  margin-bottom: 65px;

}

.main-page__title-section {
  @include grid-col(25%)
}

.main-page__title-section-tab {
  text-align: justify;
  @include grid-col(75%);

  &:after {
    content: '';
    display: inline-block;
    width: 100%;
    height: 0;
  }
}


/* селект скрываем на больших разрешениях */
.mp__matrasses-select {
  display: none;
}

/* 
  пагинация 
*/
.mattresses-models__pagination {
  @include grid-row();

}
.pagination-wrap {
  padding-top: 40px;
  text-align: right;
}

.pagination__control,
.pagination__item {
  display: inline-block;
  vertical-align: middle;
}

.pagination-list {
  display: inline-block;
  vertical-align: middle;
}

.pagination__item {
  margin: 0 8px;
  padding-bottom: 5px;
  border-bottom: 1px solid $white;
  transition: all 180ms ease-in;
  cursor: pointer;
  
  &:hover {
    border-bottom: 1px solid $blue;  
  }
}

.item-link {
  vertical-align: middle;
  color: $white_grey_2;
  font-size: em(16);
}


.pagination__item.dots {
  border-bottom: none;
  cursor: default;
}


//  PAGINATION ARROW
// 
.pagination__control-left {
  vertical-align: middle;
  display: inline-block;
  cursor: pointer;
  margin-right: 20px;
  

  &:hover,
    &:focus {
      svg * {
        fill: $blue;
      }
  }

  svg {
    width: 10px;
    height: 14px;

    * {
      transition: all 180ms ease-in;
      fill: $arrows-color_1;
    }
  }
}

.pagination__control-right {
  @extend .pagination__control-left;
  margin-right: 10px;
  margin-left: 28px;
}


/* 

  СЕКЦИЯ КОНТАКТОВ НА ГЛАВНОЙ СТРАНИЦЕ

*/


.contact-section {

}


// TOP BG 
//----------------------------------------
.contact-section__top-bg {
  padding-top: 60px;
  width: 100%;
  background-color: $white_grey_1;
  background: {
    image: url(../img/bg-contact-test.jpg);
    size: cover;
    repeat: no-repeat;
    position: center bottom;
  }
}

.contact__title-s {
  border-bottom: 3px solid $white;
  margin-bottom: 40px;
}

.contact-title__title-s {
  width: grid-column(100%);
  font-size: em(30);
  color: $white;
  font-weight: 300;
  text-transform: uppercase;
  font-family: $font-light;

}




.contact__info {
  margin-bottom: 65px;
  @include grid-row();

}

/*
  номера телефонов и адрес 
*/
.info__text-info {
  @include grid-col(4, 10);
  padding-left: 20px;
  color: $white;
  font-family: $font-light;

}


.info__text {
  margin-bottom: 30px;
  font-size: em(16);
  font-weight: 300;
}

.info__address {
  margin-bottom: 15px;

  svg {
    
    display: inline-block;
    margin-right: 15px;
    width: 16px;
    vertical-align: top;

    * {
    fill: $white;
    }
  }
}

.info__icon-wrap {
  display: inline-block;
  width: 8%;
  vertical-align: top;
}

.info__addres-text {

  display: inline-block;
  width: 85%;
  font-size: em(14);
  line-height: 21px;
}


.info__phone {
  margin-bottom: 33px;

  svg {
    display: inline-block;
    margin-right: 10px;
    width: 16px;
    vertical-align: top;

    * {
    fill: $white;
    }
  }
}

.info__phone-number {
  font-weight: 300;
  display: inline-block;
  width: 85%;
  font-size: em(20);
}



/* 
  форма в контактах
*/
.main-page__contact-form {
  @include grid-col(8);
  @include clearfix;
}


.mp__form-inputs,
.mp__form-area {
  @include grid-col(6);
}


// FORM LEFT
.form-inputs__input {
  width: 100%;
  display: block;
  margin-bottom: 15px;
  padding: 14px 20px;
  font-family: $font-light;
  font-size: em(14);
  color: rgba($white, 0.4);
  

  background-color: $forms-brown;
  border: none;
  border-left: 1px solid $white;
  border-radius: 3px;
  outline: none;

  transition: all 185ms ease-in;

  &:hover,
  &:focus {
    color: rgba($white, 1);
  }
}

.input__email {
  margin-bottom: 35px;
}


.form__area {
  @extend .form-inputs__input;
  height: 164px;
  margin-bottom: 0;
}
  

.mp-contact__buttons-wrap {
  @include clearfix;
  background-color: tomato;

}


/* 
  карта
*/
.contact-section__map {
  width: 100%;
  height: 300px;
  position: relative;

  background-image: url(../img/main-page__map.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  
  .google-maps {
    width: 100%;
    height: 100%;
    // width: 500px;
    // height: 200px;
  }
}



/* 
  нижняя линия bg
*/
.contact-section__bottom-line {
  width: 100%;
  height: 80px;
  background-color: $white_grey_1;
  background: {
    image: url(../img/bg-contact-bottom-line.jpg);
    size: cover;
    repeat: no-repeat;
    position: center bottom;
  }
}





/* 
  медиа запросы для основной страницы
*/


/* 
  эти медиа запросы для планшетных версий
*/
 /* 1155px */
@include breakpoint(1155px down) {

  .main-page__title-section {
    font-size: em(28);
  }

  .title-section__tab-item {
    &:before {
      margin: 0 20px;
    }
  }

  .title-section__tab-link {
    font-size: em(15);

    &:after {
    height: 3px;
    bottom: -2px;
    }
  }

}



/* 1024px */
@include breakpoint(1024px down) { 

  .main-page__title-section-tab {
    // padding-right: 0;
    text-align: justify;
    
    &:after {
      content: '';
      display: inline-block;
      width: 100%;
      height: 0;
    }
  }
  
  .title-section__tab-item {
    &:before {
      margin: 0 18px;
    }
  }

  .title-section__tab-link {
    font-size: em(14);

    &:after {
      height: 3px;
      bottom: 0px;
    }
  }
}

/* 990px */
@include breakpoint(990px down) { 
  
  .main-page__mattresses-models {
    margin-bottom: 45px;
  }

  .main-page__title-section {
    padding-top: 5px;
    padding-right: 0;
    font-size: em(24);

  }

  .title-section__tab-item {
    &:before {
      margin: 0 15px;
    }
  }

  .title-section__tab-link {
    font-size: em(13);
  }

  .pagination-wrap {
    padding-top: 20px;
  }
}

/* 870px */
@include breakpoint(870px down) { 
  .main-page__title-section {
    font-size: em(22);
  }

  .title-section__tab-item {
    &:before {
      margin: 0 13px;
    }
  }

}

/* 835px */
@include breakpoint(835px down) { 

  .main-page__title-section {
    font-size: em(20);
  }


  .title-section__tab-item {
    &:before {
      margin: 0 10px;
    }
  }

}

/* 780px */
@include breakpoint(780px down) { 

  .contact-section__top-bg {
    padding-top: 45px;
  }

  .main-page__title-section {
    padding-top: 9px;
    font-size: em(18);
  }


  .title-section__tab-item {
    &:before {
      margin: 0 10px;
    }
  }

  .title-section__tab-link {
    font-size: em(12);

    &:after {
      height: 3px;
      bottom: 1px;
    }
  }

}

/* 740px */
@include breakpoint(740px down) { 

  .main-page__title-section-tab {
    padding-left: 0;
    padding-right: 10px;
  }

  .title-section__tab-item {
    &:before {
      margin: 0 7px;
    }
  }

}

/* 655px */
@include breakpoint(655px down) { 

  .main-page__title-section-tab {
    padding-left: 0;
    padding-right: 10px;
  }

  .title-section__tab-item {
    &:before {
      margin: 0 5px;
    }
  }

}




/*  
  для секции КОНТАКТОВ
*/

/* 1020px */
@include breakpoint(1020px down) {
  .input__email {
    margin-bottom: 55px;
  }
}

/* 992px */
@include breakpoint(992px down) {
  
  .contact-title__title-s {
    font-size: em(26);
  }

  .info__text {
    font-size: em(14);
  }

  .info__addres-text {

  }

  .info__phone-number {
    font-size: em(18);
  }

  .main-page__contact-form,
  .mp__form-inputs,
  .mp__form-area {
    padding-left: 10px;
    padding-right: 10px;
  }
  

}

/* 890px */
@include breakpoint(890px down) {
  .input__email {
    margin-bottom: 68px;
  }
}


/* 773px */
@include breakpoint(773px down) {
  .input__email {
    margin-bottom: 52px;
  }
}


/* 768px */
@include breakpoint(768px down) {

 .contact-title__title-s {
   font-size: em(22);
 }
  
  .info__text-info {
    padding-left: 10px;
    padding-right: 0;
  }

  .info__text {
    margin-bottom: 15px;
    font-size: em(13);
  }


  .info__phone-number {
    font-size: em(16);
  }
  
  .mp__form-area,
  .main-page__contact-form {
    padding-left: 0;
  }
  
  .main-page__contact-form {
    padding-right: 5px;
  }


  .form-inputs__input {
    padding: 10px 16px;
  }

  .form__area {
    height: 140px;
  }

  .info__address {
    margin-bottom: 10px;
  }

  .info__phone {
    margin-bottom: 20px;
  }

}


/* 675px */
@include breakpoint(675px down) {
  .input__email {
    margin-bottom: 70px;
  }
}

/* 666px */
@include breakpoint(666px down) {
  .input__email {
    margin-bottom: 87px;
  }
}




/* 
  мобильная версия  
*/
/* 620px */
@include breakpoint(620px down) {


  /* селект */
  .mp__matrasses-select {
    display: block;

    select {
      width: 100%;
      padding: 10px 30px;
      border: 1px solid #c3c3c3;
      border-radius: 12px;
      font-size: 20px;
      font-family: $font-light;
      color: #707070;
    }

    option {
      font-size: 18px;
    }
  }

  
  /* новые модели  */

  .main-page__mattresses-models {
    margin-bottom: 0;
    padding: 20px;
  }

  .mp__title-s {
    margin-bottom: 15px;
  }

  .main-page__title-section {
    width: grid-column(100%);
    font-size: em(30);
    padding-left: 30px;
  }

  .title-section__tab,
  .mattresses-models__pagination {
    display: none;
  }



  /* контакты  */

  .contact-section__top-bg {
    padding: 20px;
    background-image: url(../img/bg-contact__mobile.jpg);
  }

  .contact__info {
    margin-bottom: 0px;
  }

  .contact__title-s {
    margin-bottom: 20px;
  }

  .contact-title__title-s {
    padding-left: 30px;
    font-family: $font-ultraLight;
    font-size: em(30);
  }
  
  .contact-section__bottom-line,
  .contact-section__map,
  .main-page__contact-form {
    display: none;
  }

  .info__text-info {
    @include grid-col(12);
    padding-left: 20px;
    padding-right: 10px;
  }

  .info__address,
  .info__phone {
    margin-bottom: 25px;
  }

  .info__text,
  .info__addres-text {
    font-family: $font-ultraLight;
    font-size: em(18);
  }

  .info__icon-wrap {
    width: 6%;
  }

  .info__text {
    margin-bottom: 20px;
  }

  .info__phone-number {
    font-size: em(20);
  }

  
  .mp-contact__btn-wrap {
    text-align: center;
  }

  .button-contact {
    float: none;
    font-family: $font-bold;
    font-size: em(20);
    background-color: $blue;
  }


}

/* 480px */
@include breakpoint(480px down) {

    /* новые модели  */

  .main-page__title-section {
    font-size: em(26);
    padding-left: 20px;
  }
  

   /* контакты  */
  .contact-section__top-bg {
    padding-left: 10px;
    padding-right: 10px;
  }

  .contact-title__title-s {
    padding-left: 12px;
    font-size: em(22);
  }
}