section.card-page__description-section

	.container

		.title-section
			h2.title-section__header.card-page__header_card Описание

			ul.title-section__tab.card-page__tab-section
				li.title-section__tab-item
					span.title-section__tab-link Сертификаты
				li.title-section__tab-item
					span.title-section__tab-link Отзывы (10)
				li.title-section__tab-item
					span.title-section__tab-link Оплата и доставка


		.description-section__definition
			p Традиционный матрас Balance Practice, выполненный на основе зависимого пружинного блока «Боннель», разработан специально для тех, кто предпочитает спать на ровной и твердой поверхности. Благодаря особой технологии скрепки пружины не трутся друг о друга, что исключает даже малейшее поскрипывание. Хлопковый войлок придает матрасу необходимую жесткость, а слой ортопедической пены и поверхность из стеганого жаккарда создают комфортные условия для полноценного сна. Хлопковый войлок придает матрасу необходимую жесткость, а слой ортопедической пены и поверхность из стеганого жаккарда создают комфортные 

			p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur quaerat placeat illo beatae velit. Aperiam necessitatibus laudantium ut hic minima eaque itaque excepturi deserunt temporibus nulla porro quisquam reiciendis facilis, ad expedita animi possimus, illum corporis fugit atque aspernatur incidunt! Exercitationem quasi possimus quaerat inventore eaque quam velit alias fugit quis sit nostrum ab, ullam iure molestias non labore atque culpa mollitia aut quia vero earum et. Aliquid architecto sunt velit quaerat quibusdam laudantium! Animi, in. Molestias magnam, praesentium sunt animi veniam eum nam quam aperiam quibusdam facere provident architecto, adipisci possimus non. Consequuntur animi, nemo excepturi voluptate, laborum id!


