section.card-page__description-section

	.container

		.title-section
			h2.title-section__header.card-page__header_card Описание

			ul.title-section__tab.card-page__tab-section
				li.title-section__tab-item
					span.title-section__tab-link Сертификаты
				li.title-section__tab-item
					span.title-section__tab-link Отзывы (10)
				li.title-section__tab-item
					span.title-section__tab-link Оплата и доставка


		.description-section__definition
			p.test-description__paragraph Традиционный матрас Balance Practice, выполненный на основе зависимого пружинного блока «Боннель», разработан специально для тех, кто предпочитает спать на ровной и твердой поверхности. Благодаря особой технологии скрепки пружины не трутся друг о друга, что исключает даже малейшее поскрипывание. Хлопковый войлок придает матрасу необходимую жесткость, а слой ортопедической пены и поверхность из стеганого жаккарда создают комфортные условия для полноценного сна. Хлопковый войлок придает матрасу необходимую жесткость, а слой ортопедической пены и поверхность из стеганого жаккарда создают комфортные 



