section.card-pade__product-item
	.container

		.product__slideshow
			.slideshow__top-item
				.slideshow__action Акция
				.slideshow__compare
					.compare__pic
						include ../_0-icon-svg/scales.svg
					.compare__text Сравнить

			.slideshow__display
				img(src="img/bed-big.png", alt="")

			.slideshow__thumbs-wrap
				.slideshow__thumbs-left-arrow
					include ../_0-icon-svg/arrow-left.svg
				ul.slideshow__thumbs
					li.slideshow__thumbs-item
						.slideshow__thumbs-link
							img(src="img/thumb-pic-1.png", alt="")
					li.slideshow__thumbs-item
						.slideshow__thumbs-link
							img(src="img/thumb-pic-2.png", alt="")
					li.slideshow__thumbs-item
						.slideshow__thumbs-link
							img(src="img/thumb-pic-3.png", alt="")
					li.slideshow__thumbs-item
						.slideshow__thumbs-link
							img(src="img/bed_1.png", alt="")
					li.slideshow__thumbs-item
						.slideshow__thumbs-link
							img(src="img/thumb-pic-1.png", alt="")
					li.slideshow__thumbs-item
						.slideshow__thumbs-link
							img(src="img/thumb-pic-2.png", alt="")

				.slideshow__thumbs-right-arrow
					include ../_0-icon-svg/arrow-right.svg


			.slideshow__social
				.slideshow__social-text Поделиться с друзьями:
				ul.slideshow__social-items
					li.slideshow__social-item
						a(href="").slideshow__social-link
							include ../_0-icon-svg/twitter-2.svg

					li.slideshow__social-item
						a(href="").slideshow__social-link
							include ../_0-icon-svg/facebook-2.svg

					li.slideshow__social-item
						a(href="").slideshow__social-link
							include ../_0-icon-svg/google-plus-2.svg

					li.slideshow__social-item
						a(href="").slideshow__social-link
							include ../_0-icon-svg/tumblr-2.svg

					li.slideshow__social-item
						a(href="").slideshow__social-link
							include ../_0-icon-svg/pinterest-2.svg

				
		.product__price
			.product__article Артикул: 3235XDl
			.product__title-wrap
				h2.product__title Матрас: Eleonora valensia premium Multitouch
				.product_title-logo
					img(src="img/logo_3.png", alt="")

			.product__price-wrap
				.price-wrap__old-price 29 070 руб.
				.price-wrap__new-price 19 600 руб.
			
			.product__form-timer__wrap
				.product__form
					form(action="")
						select(name="" data-placeholder='Размер').product__form-select
							option(value="")
							option(value="1") 1
							option(value="2") 2
							option(value="3") 3
						
						.product__form-count
							button.form-count__minus -
							input(class='form-count__input' type="text" value='0')
							button.form-count__plus +
						
						button(type='submit').product__btn-blue
							span.product__btn-blue-icon
								img(src="img/icon/basket-button-icon.png", alt="")
							| В корзину

				.product__timer
					.product__timer-text До завершения акции:
					span.product__timer-icon
						include ../_0-icon-svg/hourglass.svg
					//- .product__timer-wrap
					span.timer-wrap__day 00
					span.timer-wrap__hours 22:33:54
			

			ul.description-small__list
				li.description-small__item
					.description-small__item-left Производитель: 
					.description-small__item-right Askona
				li.description-small__item
					.description-small__item-left Производитель: 
					.description-small__item-right Askona
				li.description-small__item
					.description-small__item-left Производитель: 
					.description-small__item-right Askona
				li.description-small__item
					.description-small__item-left Производитель: 
					.description-small__item-right Askona
				li.description-small__item
					.description-small__item-left Производитель: 
					.description-small__item-right Askona
				li.description-small__item
					.description-small__item-left Производитель: 
					.description-small__item-right Askona







