section.optovik-page__main-content

	.container

		.title-section.optovik-page__title-section
			h2.title-section__header.optovik-page__title-section
				| Предложения для гостиниц, мини отелей, хостелов

		.optovik-page__wrap-content
			.optovik-page__left-content
				.optovik-page__big-img
					img(src="img/optovik__img-1.jpg", alt="")

				a(href="#").optovik-page__link 
					| Скачать коммерческое предложение
					span.optovik-page__link-icon

			.optovik-page__right-content
				p.optivik-page__paragraph.paragraph-orange Фабрика Корпорация Сна уже 7 лет поставляет матрасы для гостиниц, мини отелей и хостелов.

				p.optivik-page__paragraph Мы разработали модели для любых категорий отелий, от эконом линейки до премиум линейки под отели европейского класса "Люкс"

				p.optivik-page__paragraph Создадим матрасы под любое тех задание и пожеланиеВысококачественные материалы от проверенных поставщиковСрок производства 2-7днейСпециально разработанная линейка повышенной прочности.Гарантии от 2-12 лет.Некоторые наши заказчики: Отель Милан, мини отель Амадео, Отель Петр 1

				button.button.optovik-button Заказать звонок



		.title-section.optovik-page__title-section
			h2.title-section__header.optovik-page__title-section
				| Диллерам и розничным магазинам

		.optovik-page__wrap-content
			.optovik-page__left-content
				.optovik-page__big-img
					img(src="img/optovik__img-2.jpg", alt="")

				a(href="#").optovik-page__link 
					| Скачать коммерческое предложение
					span.optovik-page__link-icon

			.optovik-page__right-content
				p.optivik-page__paragraph.paragraph-orange Корпорация Сна дает возможность сотрудничества и взаимного заработка.

				p.optivik-page__paragraph  Для вас мы предоставляем

				p.optivik-page__paragraph Бесплатное торговое оборудование и образцы матрасов для экспозиции в магазинах мебели.

				p.optivik-page__paragraph Возможность работать с нами по агентскому договору.
				
				p.optivik-page__paragraph Работаем с интернет магазинами, дизайн бюро и другими посредниками.Для подробной информации звоните!

				button.button.optovik-button Заказать звонок 








