// BRENDS SECTION
section.optovik-page__brands

  .container
  
    .title-section
      h2.title-section__header.optovik-page__title-section С нами сотрудничают


    .optovik-page__brands-wrap
      
      .optovik__brand-arrow-left
        include ../_0-icon-svg/arrow-left.svg

      ul.optovik-page__brands-list
        li.optovik__item
          img(src="img/optovik__brend-logo.png", alt="")
        li.optovik__item
          img(src="img/optovik__brend-logo.png", alt="")
        li.optovik__item
          img(src="img/optovik__brend-logo.png", alt="")
        li.optovik__item
          img(src="img/optovik__brend-logo.png", alt="")
        li.optovik__item
          img(src="img/optovik__brend-logo.png", alt="")

      .optovik__brand-arrow-right
        include ../_0-icon-svg/arrow-right.svg



    