.bed-top-section {
	padding: 55px 0 90px 40px;
	background-color: $white_grey_1;
	background: {
		image: url(../img/bed-top-section.jpg);
		size: cover;
		repeat: no-repeat;
		position: center;
	}

}

.bed-top-section__title {
	font-family: $font-extraBold;
	font-size: rem(48);
	color: $orange;
	text-transform: uppercase;
}
