/* 
	
	NEWS 1 PAGE STYLE

*/


.news-1-page__news {
	margin-bottom: 130px;
}

.news-1-page__breadcrumbs {
	margin-bottom: 21px;
}


.news-1-page__news-item {
	margin-bottom: 50px;
	// background-color: green;
}

.news-1-page__button-wrap {
	text-align: center;
}