//- mixin basket-item(mtrs_pic ,mtrs_name, mtrs_price)
//- 	li.user-buy__item
//- 		.user-buy__img
//- 			img(src="img/#{mtrs_pic}", alt="")
//- 		.user-buy__title-price
//- 			.user-buy__mtrs-title #{mrts_name}
//- 			.user-buy__mtrs-price #{mtrs_price}

//- 		.user-buy__cross-button
//- 			span.user-buy__button
//- 				include ../_0-icon-svg/close-2.svg

section.zakaz-page

	.container

		.zakaz-page__before-buying Вы уже покупали у нас ранее ? 
			a(href="").before-buying__link Нажмите для входа в личный кабинет
		
		.zakaz__middle-block
			
			.user-buy__basket.zakaz-page__user-basket
				ul.user-buy__list
					li.user-buy__item
						.user-buy__img
							img(src="img/zakaz__img-item.png", alt="")
						.user-buy__title-price
							.user-buy__mtrs-title Матрас: Eleonora
							.user-buy__mtrs-price 16 600 руб.

						.user-buy__cross-button
							span.user-buy__button
								include ../_0-icon-svg/close-2.svg

					li.user-buy__item
						.user-buy__img
							img(src="img/zakaz__img-item.png", alt="")
						.user-buy__title-price
							.user-buy__mtrs-title Матрас: Eleonora
							.user-buy__mtrs-price 16 600 руб.

						.user-buy__cross-button
							span.user-buy__button
								include ../_0-icon-svg/close-2.svg

					li.user-buy__item
						.user-buy__img
							img(src="img/zakaz__img-item.png", alt="")
						.user-buy__title-price
							.user-buy__mtrs-title Матрас: Eleonora
							.user-buy__mtrs-price 16 600 руб.

						.user-buy__cross-button
							span.user-buy__button
								include ../_0-icon-svg/close-2.svg

					li.user-buy__item
						.user-buy__img
							img(src="img/zakaz__img-item.png", alt="")
						.user-buy__title-price
							.user-buy__mtrs-title Матрас: Eleonora
							.user-buy__mtrs-price 16 600 руб.

						.user-buy__cross-button
							span.user-buy__button
								include ../_0-icon-svg/close-2.svg

				.user-buy__total
					| итого: 
					span.user-buy__total-sum 78 400 
					| руб.

				.user-buy__buttons
					button.btn__blue-basket
						span.btn__blue-bsk-icon
						span.btn__blue-bsk-text В корзину

					button.btn__zakaz-orange Оформить заказ





			.zakaz__form-block
				h2.zakaz__form-title Контактные данные
				
				.zakaz__field-wrap
					.zakaz-field.field-small.field-left
						label(class='zakaz-label'  for="") Имя 
							span.zakaz-label__star *
						input(class='zakaz-input'  type="text" placeholder="Введите имя")

					.zakaz-field.field-small.field-right
						label(class='zakaz-label'  for="") Фамилия 
							span.zakaz-label__star *
						input(class='zakaz-input'  type="text" placeholder="Введите фамилию")

					.zakaz-field
						label(class='zakaz-label'  for="") Телефон 
							span.zakaz-label__star *
						input(class='zakaz-input'  type="text" placeholder="Введите номер")

					.zakaz-field
						label(class='zakaz-label'  for="") Email 
							span.zakaz-label__star *
						input(class='zakaz-input'  type="text" placeholder="Введите email")


			.zakaz__form-block
				h2.zakaz__form-title Способ доставки
				
				.zakaz__field-wrap
					
					.zakaz-check
						input(type="radio" id='check1' name='dostavka-check')
						label(for="check1") Курьекрская служба

					.zakaz-field
						label(class='zakaz-label'  for="") Город 
							span.zakaz-label__star *
						input(class='zakaz-input'  type="text" placeholder="Введите название города")

					.zakaz-field
						label(class='zakaz-label'  for="") Адрес
							span.zakaz-label__star *
						input(class='zakaz-input'  type="text" placeholder="Введите название улицы")
						input(class='zakaz-input'  type="text" placeholder="Введите номер дома, квартиры")
					
					.zakaz-check
						input(type="radio" id='check2' name='dostavka-check')
						label(for="check2") Самовывоз

		
		.zakaz__payment-wrap
			.zakaz__form-block
				h2.zakaz__form-title Способ оплаты
				
				.zakaz__field-wrap
					
					.zakaz-check
						input(type="radio" id='oplata-check1' name='oplata-check')
						label(for="oplata-check1") Оплата банковской картой

					.zakaz-check
						input(type="radio" id='oplata-check2' name='oplata-check')
						label(for="oplata-check2") Оплата наличными при получении

					.zakaz-check
						input(type="radio" id='oplata-check3' name='oplata-check')
						label(for="oplata-check3") Безначлиный расчет (для юр. лиц)

			.zakaz__textarea-wrap
				label.zakaz-label Комментарий к заказу
				textarea(class='zakaz__textarea' placeholder='Укажите, при необходимости, дополнительную информация об оплата или доставке.')


		.zakaz__agreement
			input(type="checkbox" id='agreement')
			label(class='agreement__label' for="agreement") Я принимаю условия 
			a(class='agreement__link' href="#") Пользовательского соглашения

		.zakaz__button-wrap
			button.button.button__zakaz-button Подтвердить заказ

					