mixin news-item(image, title, date, text)
	li.news-item.news-1-page__news-item
		img(src="img/#{image}", alt="картинка").item__pic
		.news__content-wrap
			h3.news-title Новая серия матрасов «Твин» на двойных пружинах
			.news-date 25.09.2015
			p.news-text Технология двойных пружин используется уже продолжительное время, но именно сейчас она становится наиболее актуальной.

		.news__arrow-wrap
			a(href="#").news__arrow
				include ../_0-icon-svg/arrow-right.svg
				include ../_0-icon-svg/arrow-right.svg



section.news-1-page__news

	.container

		.news-section__news
			ul.news

				+news-item('news-img.png', 'Новая серия матрасов «Твин» на двойных пружинах', '25.09.2015', 'Технология двойных пружин используется уже продолжительное время, но именно сейчас она становится наиболее актуальной.')

				+news-item('news-img.png', 'Новая серия матрасов «Твин» на двойных пружинах', '25.09.2015', 'Технология двойных пружин используется уже продолжительное время, но именно сейчас она становится наиболее актуальной.')

				+news-item('news-img.png', 'Новая серия матрасов «Твин» на двойных пружинах', '25.09.2015', 'Технология двойных пружин используется уже продолжительное время, но именно сейчас она становится наиболее актуальной.')

				+news-item('news-img.png', 'Новая серия матрасов «Твин» на двойных пружинах', '25.09.2015', 'Технология двойных пружин используется уже продолжительное время, но именно сейчас она становится наиболее актуальной.')
				

				+news-item('news-img.png', 'Новая серия матрасов «Твин» на двойных пружинах', '25.09.2015', 'Технология двойных пружин используется уже продолжительное время, но именно сейчас она становится наиболее актуальной.')
				
				+news-item('news-img.png', 'Новая серия матрасов «Твин» на двойных пружинах', '25.09.2015', 'Технология двойных пружин используется уже продолжительное время, но именно сейчас она становится наиболее актуальной.')

		.news-1-page__button-wrap
			button.button Показать больше
				
				