section.about__main-content

	.about-wrap

		.container

			.about-wrap__content
				
				.about__about_text_block

					h1 О ФАБРИКЕ

					p Первая фабрика бренда «Корпорация Сна» была открыта в 2009 году. в г. Ростов-на-Дону. Стремитльное развитие Компания получила за счет честности при работе с людьми, за сче цен ниже рынка, при отменном качестве, высочайшего европейского сервиса и расширенных гарантий на матрасы.
				
				.about__about_image_block

					img.about__about_image(src="img/about1.jpg", alt="img")

				.about__about_text_block2

					h3 На сегодняшний день «Корпорация Сна» - это ...

					.about__about_text_block2_content

						img.pruzh(src="img/pruzh.png", alt="img")

						p.text_on_pruzh#t_on_pruzh1 Более 100 видов матрасов
						p.text_on_pruzh#t_on_pruzh2 Собственная линия производства пружинных блоков
						p.text_on_pruzh#t_on_pruzh3 Новейшее итальянское оборудование для производства матрасов
						p.text_on_pruzh#t_on_pruzh4 Более 3700 письменных отзывов от довольных семей заказчиковов
						p.text_on_pruzh#t_on_pruzh5 2 собственных завода  в Москве и Ростове-на-Дону
						p.text_on_pruzh#t_on_pruzh6 Обладатель премии «СТАРТАП ДОН» как лучший проект Юга Россиипо 
						p.text_on_pruzh#t_on_pruzh7 Входит в список «ЭКСПРЕСС-50»-Топ проектов Ростовской области
						p.text_on_pruzh#t_on_pruzh8 Более 550 сотрудников компании
						p.text_on_pruzh#t_on_pruzh9 Лаборатория контроля качества материалов и готовых матрасов
						p.text_on_pruzh#t_on_pruzh10 Отдел инноваций, который разрабатывает новые модели матрасов по
				
				.about__about_text_block3

					.about__about_text_block3_section1

						h4.about__block-title наша миссия

						.block3_section1_part1

							.block3_section1_part1_wrap

								img#konstantin(src="img/konstantin.jpg", alt="img")
								p Дорогой заказчик, <br> Я Константин Кривошеев - создатель «Корпораци Сна». Благодарю Вас за выбор наших матрасов! В других магазинах ортопедические матрасы стоят безумно дорого!
								br
								p И у меня появилась цель - обеспечить каждую семью первоклассными матрасами, по ценам, без магазинной накрутки. А она, иногда достигает 200% от реальной стоимости ортопедического матраса. <br>
								p Это несправедливо!

						.block3_section1_part2

							p МНЕ НУЖНА ВАША ПОМОЩЬ!
							p Вы бы могли порекомендовать своим знакомым, родственникам, друзьям и просто хорошим людям наши матрасы? Предложите им реально сэкономить, без переплаты магазинам... они будут спать на комфортном матрасе, будут лучше высыпаться, станут более веселыми, добрыми и здоровыми!)
							p От Вашей рекомендации мир станет чуточку лучше и добро вернется к Вам обязательно.
							p Заранее спасибо!

					.about__about_text_block3_section2

						h4.about__block-title производство

						.block3_section2_part1

							img(src="img/team.jpg", alt="img")

						.block3_section2_part2

							p Каждый матрас изготавливается под конкретного заказчика, учитывая пожелания, вес, рост, и предпочтения к мягкости.
							br
							p Все комплектующие натуральны, гиппоалергенны, от проверенных годами поставщиков. Наше преимущество в том, что матрасы не лежат на складах месяцами, не пылятся, не деформируются, как это бывает на большинстве фабрик. Матрас после заказа изготавливается и сразу доставляется до кровати заказчика.



							



