section.contact__main-content

	.contact-section__map.contact_map

		#main-map.google-maps
		
		.contact-section__contact_wrap

			.container

				.contact-section__contact_block 

					p.contact-section__contact_block__text_head  ЦЕНТРАЛЬНЫЙ ОФИС И ШОУ-РУМ:
					p.contact-section__contact_block__text_adrs г. Москва, ул Южнопортовая 5, строение 1-6, офис 328 "БЦ Золотое
					p.contact-section__contact_block__text_email info@sleepcorp.ru
					p.contact-section__contact_block__text_phone +7 (495) 181-09-00

					p.contact-section__contact_block__text_head ЦЕНТРАЛЬНЫЙ ОФИС И ШОУ-РУМ В РОСТОВСКОЙ ОБЛАСТИ
					p.contact-section__contact_block__text_adrs г. Шахты, ул.Ленина, 178  
					p.contact-section__contact_block__text_email info@sleepcorp.ru  
					p.contact-section__contact_block__text_phone +7 (928) 111-11-42

					p.contact-section__contact_block__text_head АДРЕСА ЗАВОДОВ
					p.contact-section__contact_block__text_adrs Московская обл., Солнечногорский р-н, Андреевка, ул. Алабушевск
					p.contact-section__contact_block__text_adrs Ростовская область, Красный Сулин. пос. Горный, улица Центральная, 1

	.contact-section__contact_forms
		.container
			h1 Обратная связь
			form(action="")
				.contact-section__contact_forms_inputs
					ul
						li: input(type="text" required placeholder="Имя")
						li: input(type="phone" required placeholder="Телефон")
						li: input(type="email" required placeholder="Email")
					
				.contact-section__contact_forms_textarea
					textarea(name="" placeholder="Введите сообщение...")
				.contact-section__contact_forms_button		
					button.button#contact-section__contact_button Отправить


