section.contact-page

	.contact-section__map.contact_map

		#main-map.google-maps
		
		.contact-page__contact-wrap

			.container

				.contact-wrap__contact-block 

					.contact-block__text-head  ЦЕНТРАЛЬНЫЙ ОФИС И ШОУ-РУМ:
					.contact-block__text-adrs г. Москва, ул Южнопортовая 5, строение 1-6, офис 328 "БЦ Золотое
					.contact-block__text-email info@sleepcorp.ru
					.contact-block__text-phone +7 (495) 181-09-00

					.contact-block__text-head ЦЕНТРАЛЬНЫЙ ОФИС И ШОУ-РУМ В РОСТОВСКОЙ ОБЛАСТИ
					.contact-block__text-adrs г. Шахты, ул.Ленина, 178  
					.contact-block__text-email info@sleepcorp.ru  
					.contact-block__text-phone +7 (928) 111-11-42

					.contact-block__text-head АДРЕСА ЗАВОДОВ
					.contact-block__text-adrs Московская обл., Солнечногорский р-н, Андреевка, ул. Алабушевск
					.contact-block__text-adrs Ростовская область, Красный Сулин, <br> пос. Горный, улица Центральная, 1

	.contact-page__contact-form
		.container
			h1.contact-page__form-title Обратная связь
			form(action="")
				ul.contact-page__form-inputs
					li 
						input(type="text" required placeholder="Имя")

					li 
						input(type="phone" required placeholder="Телефон")

					li 
						input(type="email" required placeholder="Email")
					
				.contact-page__form-textarea
					textarea(name="" placeholder="Введите сообщение...")

				.contact-page__button-wrap
					button.button.contact-page__btn Отправить


