// header top line
.header__top-line
  
  .container
    ul.h-top-line__links-list
      li.h-top-line__item
        a.h-top-line__link(href="payment-page.html") Доставка и Оплата
      li.h-top-line__item
        a.h-top-line__link(href="about-page.html") О компании
          
    .h-top-line__call
      span.h-top-line__call-number 
        | +7 
        span.brackets &#40;
        | 495
        span.brackets &#41;
        |  181-09-00
        
      span.h-top-line__call-text#request_call
       | Заказать звонок
       
         
    .h-top-line__office
      span.h-top-line__office-icon
        img(src="img/icon/icon-logo.png", alt="")
        
      a(href="personal-office_page.html").h-top-line__office-text
        | Личный кабинет
      
// end header top line
// ***********************************************************