.header__top-line
  
  .container
    .top-line__links
      ul.links
        li.link-item
          a.link(href="payment-page.html") Оплата
        li.link-item
          a.link(href="payment-page.html") Доставка
        li.link-item
          a.link(href="about-page.html") О компании
          
    .top-line__call
      span.call__number 
        | +7 
        span.brackets &#40;
        | 495
        span.brackets &#41;
        |  181-09-00
        
      a(href="").call__text
       | Заказать звонок
       
         
    .top-line__office
      span.office__icon
        img(src="img/icon/icon-logo.png", alt="")
        
      a(href="personal-office_page.html").office__text
        | Личный кабинет
      
