// header middle line
.header__middle-line

  .container
  
    .h-middle-line__main-logo
      a(href="#").h-middle-line__logo
        img(src="img/logo.png", alt="Логотип компании").logo-pic
    
    nav.h-middle-line__nav
      ul.h-middle-line__nav-list
        li.h-middle-line__nav-item
          a(href="#").h-middle-line__nav-link.active Акции
        li.h-middle-line__nav-item
          a(href="#").h-middle-line__nav-link Кредит
        li.h-middle-line__nav-item
          a(href="zakaz-page.html").h-middle-line__nav-link Пошив под заказ
        li.h-middle-line__nav-item
          a(href="optovik-page.html").h-middle-line__nav-link Оптовикам
        li.h-middle-line__nav-item
          a(href="news-1_page.html").h-middle-line__nav-link Новости
        li.h-middle-line__nav-item
          a(href="contact.html").h-middle-line__nav-link Контакты
          
          
    .h-middle-line__amount-product
      a(href="cart.html").amount-product__icon
        img(src="img/icon/icon-basket.png", alt="")
      
      .amount-product__text
        span.amount-product__count 1 товар
        span.amount-product__sum 12 000 руб.
    
// end header middle line
  
