// middle
.header__middle-line

  .container
  
    .middle-line__main-logo
      a(href="#").logo
        img(src="img/logo.png", alt="Логотип компании")
      
    .middle-line__menu
      ul.menu
        li.menu__item
          a(href="#").item__link.active Акции
        li.menu__item
          a(href="#").item__link Кредит
        li.menu__item
          a(href="#").item__link Пошив под заказ
        li.menu__item
          a(href="#").item__link Оптовикам
        li.menu__item
          a(href="news-1_page.html").item__link Новости
        li.menu__item
          a(href="contact.html").item__link Контакты
          
          
    .middle-line__amount-product
      .product-icon
        img(src="img/icon/icon-basket.png", alt="")
      
      .product-text
        span.product 1 товар
        span.sum 12 000 руб.
    
    
  
