// botom
.header__bottom-line

  .container

    .bottom-line__menu
      ul.menu
        li.menu__item
          a(href="#").item__link Матрасы
        li.menu__item
          a(href="#").item__link Кровати
        li.menu__item
          a(href="#").item__link Подушки
        li.menu__item
          a(href="#").item__link Наматрасники
        li.menu__item
          a(href="#").item__link Одеяла
        li.menu__item
          a(href="#").item__link Основания
        li.menu__item
          a(href="#").item__link Постельное белье
          
    .bottom-line__search
      form(action="").search
        input(type="text" placeholder="Пример: матрас retro").search__text
        input(type="submit", value="").search__submit
