// header bottom line
.header__bottom-line

  .container

    .h-bottom-line__menu
      ul.h-bottom-line__menu-list
        li.h-bottom-line__item
          a(href="catalog.html").h-bottom-line__link Матрасы
        li.h-bottom-line__item
          a(href="catalog.html").h-bottom-line__link Кровати
        li.h-bottom-line__item
          a(href="catalog.html").h-bottom-line__link Подушки
        li.h-bottom-line__item
          a(href="catalog.html").h-bottom-line__link Наматрасники
        li.h-bottom-line__item
          a(href="catalog.html").h-bottom-line__link Одеяла
        li.h-bottom-line__item
          a(href="catalog.html").h-bottom-line__link Основания
        li.h-bottom-line__item
          a(href="catalog.html").h-bottom-line__link Постельное белье
          
    .h-bottom-line__search
      form(action="")
        input(type="text" placeholder="Пример: матрас retro").h-bottom-line__search-input
        input(type="submit", value="").h-bottom-line__search-submit

  ul.h__menu-for-mobile
    li.menu-for-mobile__item
      a(href="catalog.html").menu-for-mobile__link Матрасы
    li.menu-for-mobile__item
      a(href="catalog.html").menu-for-mobile__link Кровати
    li.menu-for-mobile__item
      a(href="catalog.html").menu-for-mobile__link Подушки
    li.menu-for-mobile__item
      a(href="catalog.html").menu-for-mobile__link Наматрасники
    li.menu-for-mobile__item
      a(href="catalog.html").menu-for-mobile__link Одеяла
    li.menu-for-mobile__item
      a(href="catalog.html").menu-for-mobile__link Основания
    li.menu-for-mobile__item
      a(href="catalog.html").menu-for-mobile__link Постельное белье

// end header bottom line