// header bottom line
.header__bottom-line

  .container

    .h-bottom-line__menu
      ul.h-bottom-line__menu-list
        li.h-bottom-line__item
          a(href="catalog.html").h-bottom-line__link Матрасы
        li.h-bottom-line__item
          a(href="catalog.html").h-bottom-line__link Кровати
        li.h-bottom-line__item
          a(href="catalog.html").h-bottom-line__link Подушки
        li.h-bottom-line__item
          a(href="catalog.html").h-bottom-line__link Наматрасники
        li.h-bottom-line__item
          a(href="catalog.html").h-bottom-line__link Одеяла
        li.h-bottom-line__item
          a(href="catalog.html").h-bottom-line__link Основания
        li.h-bottom-line__item
          a(href="catalog.html").h-bottom-line__link Постельное белье
          
    .h-bottom-line__search
      form(action="")
        input(type="text" placeholder="Пример: матрас retro").h-bottom-line__search-input
        input(type="submit", value="").h-bottom-line__search-submit

// end header bottom line