// header bottom line
.header__bottom-line

  .container

    .h-bottom-line__menu
      ul.h-bottom-line__menu-list
        li.h-bottom-line__item
          a(href="catalog.html").h-bottom-line__link Матрасы
        li.h-bottom-line__item
          a(href="catalog.html").h-bottom-line__link Кровати
        li.h-bottom-line__item
          a(href="catalog.html").h-bottom-line__link Подушки
        li.h-bottom-line__item
          a(href="catalog.html").h-bottom-line__link Наматрасники
        li.h-bottom-line__item
          a(href="catalog.html").h-bottom-line__link Одеяла
        li.h-bottom-line__item
          a(href="catalog.html").h-bottom-line__link Основания
        li.h-bottom-line__item
          a(href="catalog.html").h-bottom-line__link Постельное белье
          
    .h-bottom-line__search
      form(action="")
        input(type="text" placeholder="Пример: матрас retro").h-bottom-line__search-input
        input(type="submit", value="").h-bottom-line__search-submit

  .h__menu-for-mobile-wrap
    ul.h__menu-for-mobile
      li.menu-for-mobile__item
        a(href="catalog.html").menu-for-mobile__link Матрасы
          span.mobile-menu__icon
      li.menu-for-mobile__item
        a(href="catalog.html").menu-for-mobile__link Кровати
          span.mobile-menu__icon
      li.menu-for-mobile__item
        a(href="catalog.html").menu-for-mobile__link Подушки
          span.mobile-menu__icon
      li.menu-for-mobile__item
        a(href="catalog.html").menu-for-mobile__link Наматрасники
          span.mobile-menu__icon
      li.menu-for-mobile__item
        a(href="catalog.html").menu-for-mobile__link Одеяла
          span.mobile-menu__icon
      li.menu-for-mobile__item
        a(href="catalog.html").menu-for-mobile__link Основания
          span.mobile-menu__icon
      li.menu-for-mobile__item
        a(href="catalog.html").menu-for-mobile__link Постельное белье
          span.mobile-menu__icon

    .h-mobile__cross-wrap
      button.mobile__cross-btn
        include ../_0-icon-svg/cancel.svg

// end header bottom line