.header-for-mobile

	.container

		a(href="#")#nav-toggle
			span
		
		.h__mobile-wrap
			.h__logo-mobile
				a(href="index-page.html").h-middle-line__logo
					img(src="img/logo-footer.png", alt="Логотип компании")

			a(href="#").h__office-mobile
				img(src="img/icon/icoon-office-mobile.png", alt="")

			a(href="#").h__basket-mobile
				span.h__basket-circle 3
				img(src="img/icon/icon-basket-mobile.png", alt="")

			.h__mobile-phone
				| +7 
				span.brackets &#40;
				| 495
				span.brackets &#41;
				|  181-09-00
