extends _layouts/pagewrapper


block title
	| Project Title

block includes

	.page-wrap

		include _includes/_1-header-section

		include _includes/_breadcrumbs
		include _includes/_card-page__item
		include _includes/_card-page__description
		include _includes/_card-page__matrasses-items
		include _includes/_card-page__individual-section	

	include _includes/_footer
