extends _layouts/pagewrapper


block title
  | Catalog page

block includes

  .page-wrap

    include _includes/_1-header-section
    include _includes/catalog-page/_catalog__bed-top-section
    include _includes/catalog-page/_catalog__breadcrumbs
    include _includes/catalog-page/_catalog__main-content
   
    
  include _includes/_footer