extends _layouts/pagewrapper


block title
  | Compare page

block includes

  .page-wrap

    include _includes/_1-header-section
    include _includes/compare-page/_compare__bed-top-section
    include _includes/compare-page/_compare__breadcrumbs
    include _includes/compare-page/_compare__main-content
   
    
  include _includes/_footer