extends _layouts/pagewrapper


block title
  | Project Title

block includes

  .page-wrap

    include _includes/_1-header-section
    include _includes/_2-slider-top-section
    include _includes/_3-fast-selection
    include _includes/_4-matrasses-models-section
    include _includes/_5-brends-section
    include _includes/_6-individual-section
    include _includes/_7-clients-section
    include _includes/_8-why_we-section
    include _includes/_9-news-section
    include _includes/_10-contact-section
    include _includes/_11-first-factory-section
    
  include _includes/_footer
