extends _layouts/pagewrapper


block title
  | News 1

block includes

  .page-wrap

    include _includes/_1-header-section
    include _includes/_news-2-page_breadcrumbs
    include _includes/_news-2-page__content-section
    include _includes/_news-2-page__individual-section
   
    
  include _includes/_footer
