extends _layouts/pagewrapper


block title
  | News 1

block includes

  .page-wrap

    include _includes/_1-header-section
    include _includes/_bed-top-section
    include _includes/_news-1-page_breadcrumbs
    include _includes/_news-1-page__news
   
    
  include _includes/_footer
