section.catalog__main-content

	.catalog-wrap

		.container

			.catalog-wrap__content

				p.catalog__sort_p Сортировать : &#160;
					select.catalog__sort_po
						option  По названию
						option  По цене

				.catalog__select_wrap

					.select_wrap
						select.catalog__select
							option  Размер
							option  1
					.select_wrap
						select.catalog__select
							option  Вес спящих
							option  1
					.select_wrap
						select.catalog__select
							option  Жесткость
							option  1
					.select_wrap
						select.catalog__select
							option  Высота
							option  1
					.select_wrap
						select.catalog__select
							option  Пруж. блок
							option  1
					.select_wrap
						select.catalog__select
							option  Бренд
							option  1

				.catalog__select_wrap

					.select_wrap
						select.catalog__select_big
							option  Жетскость 1-й стороны
							option  1

					.select_wrap
						select.catalog__select_big
							option  Жетскость 2-й стороны
							option  1

					.select_wrap
						input.price_catalog_input(type="text" placeholder="от")
						input#newinp(type="range")
						input.price_catalog_input(type="text" placeholder="до")
					



