// INDIVIDUAL
section.econom-section.catalog-page__econom-section

	.container

		.econom-section__content
			h2.econom-section__title Серия эконом 
				br
				span.econom-section__title-custom Недорогой матрас для дачи

			button.button.btn__econom-s Узнать больше
