section.news-2-page__social-block

	.container

		.news-2-page__social-block-wrap
			button.button.button__news-2-page Поделиться:
			ul.slideshow__social-items.news-2-page__social
				li.slideshow__social-item
					a(href="").slideshow__social-link
						include ../_0-icon-svg/twitter-2.svg

				li.slideshow__social-item
					a(href="").slideshow__social-link
						include ../_0-icon-svg/facebook-2.svg

				li.slideshow__social-item
					a(href="").slideshow__social-link
						include ../_0-icon-svg/google-plus-2.svg

				li.slideshow__social-item
					a(href="").slideshow__social-link
						include ../_0-icon-svg/tumblr-2.svg

				li.slideshow__social-item
					a(href="").slideshow__social-link
						include ../_0-icon-svg/pinterest-2.svg
