section.news-2-page__main-section

	.container

		.title-section.news-2-page__title-section
			h2.title-section__header.news-2-page__title-header Новая серия мартасов “Твин на двойных пружинах”

			.news__news-link
				a(href="#").link.news-2-page__news-link Все новости
					include ../_0-icon-svg/arrow-right.svg
					include ../_0-icon-svg/arrow-right.svg

		.news-2__content
			.news-2__content-public Опубликованно: 
				span.news-2__content-date 24 февраля, 2016

			

			.news-2__text-block
				.news-2__content-pic
					img(src="img/new-2-page__main-img.jpg", alt="")


				h4.news-2__text-title Вы хотите по-настоящему расслабляться и отдыхать во время сна? Значит, стоит купить достойный ортопедический матрас!

				p.news-2__text-descr Но какой выбрать? Слушать рекламу не хочется, да и советы из нее сомнительны. Выбирать стоит самые популярные модели изделий, наименования которых любезно предоставил интернет-магазин «МебельОК». Теперь вы с легкостью сможете сделать свой осмысленный выбор!

				.news-2__answer 
					span.news-2__answer-orange Sleep&Fly Daily: 
					|  доступный комфорт

				p.news-2__text-descr Это универсальная модель, которая точно устроит каждого. Помимо эффекта зима/лето, матрац имеет две стороны жесткости. Желаете отдохнуть на мягком – пожалуйста. Любите спать на жестком – просто переверните изделие!

			.news-2__text-block
				h4.news-2__text-title Вы хотите по-настоящему расслабляться и отдыхать во время сна? Значит, стоит купить достойный ортопедический матрас!

				p.news-2__text-descr Но какой выбрать? Слушать рекламу не хочется, да и советы из нее сомнительны. Выбирать стоит самые популярные модели изделий, наименования которых любезно предоставил интернет-магазин «МебельОК». Теперь вы с легкостью сможете сделать свой осмысленный выбор!

				.news-2__answer 
					span.news-2__answer-orange Sleep&Fly Daily: 
					|  доступный комфорт

				p.news-2__text-descr Это универсальная модель, которая точно устроит каждого. Помимо эффекта зима/лето, матрац имеет две стороны жесткости. Желаете отдохнуть на мягком – пожалуйста. Любите спать на жестком – просто переверните изделие!

			.news-2__text-block
				.news-2__answer 
					span.news-2__answer-orange Rollspring Coco:
					|  сон премиум-класса

				p.news-2__text-descr Это двустороннее изделие, позволяющее каждому насладиться комфортным отдыхом. Спальное место оснащено специальной высокоэластичной массажной пеной и натуральным латексом.Особе внимание стоит уделить простоте транспортировки. Это вакуумный матрац. По приезде домой, достаточно раскрыть внешнюю упаковку, развернуть изделие и аккуратно сделать небольшой прокол в вакуумной защите. Всего 72 часа и можно наслаждаться воистину царским отдыхом!





			