section.news-2-page__main-section

	.container

		.title-section.news-2-page__title-section
			h2.title-section__header.news-2-page__title-header Новая серия мартасов “Твин на двойных пружинах”

			.news__news-link
				a(href="#").link Все новости
					include ../_0-icon-svg/arrow-right.svg
					include ../_0-icon-svg/arrow-right.svg

		.news-2__content
			.news-2__content-public Опубликованно
				span.news-2__content-date 24 февраля, 2016

			.news-2__content-pic
				img(src="img/new-2-page__main-img.jpg", alt="")

			