
section.credit__main-content

	.credit-wrap

		.container

			.credit-wrap__content

				.credit-section1
					.credit-section1-block1
						.cs_block1 
							img(src="img/icon/kupivkredit.png", alt="img")
						.cs_block2
							p КупиВкредит - простой, удобный и современный способ покупки товаров в интернет-магазине
				.credit-section2
					p.cs2_head_p Купить товары в кредит очень просто:
					.cs2__block_wrap
						.cs2_block.cs2_block1
							img(src="img/icon/telega.png", alt="") 
							p Наполните корзину товарами
						.cs2_block_arrow
							img(src="img/icon/arrown.png", alt="") 
							
						.cs2_block.cs2_block2
							img(src="img/icon/galochka.png", alt="")
							p Выберите способ оплаты «КупиВкредит»
						.cs2_block_arrow
							img(src="img/icon/arrown.png", alt="")  
							
						.cs2_block.cs2_block3
							img(src="img/icon/slist.png", alt="")
							p Заполните онлайн-заявку
						.cs2_block_arrow
							img(src="img/icon/arrown.png", alt="")  
							
						.cs2_block.cs2_block4
							img(src="img/icon/wlist.png", alt="") 
							p Подпишите кредитный договор
				.credit-section3
					.credit-section3-block_wrap
						.cs3_block1
							.cs3_block1_content
								p.cs3_block1_headtext Основные параметры кредита:
								p.cs3_block1_text Кредит доступен гражданам России в возрасте от 18 до 75 лет.
								p.cs3_block1_text Сумма кредита – от 3 000 до 200 000 рублей.
								p.cs3_block1_text Первоначальный взнос – от 0% до 90% 
								p.cs3_block1_text Срок кредита – от 3 до 36 месяцев
								p.cs3_block1_text % ставка рассчитывается индивидуально
						.cs3_block2
							.cs3_block2_content
								p.cs3_block2_text.csb_text1 Оформи кредит не выходя из дома
								p.cs3_block2_text.csb_text2 Решение по кредиту в режиме Онлайн
								p.cs3_block2_text.csb_text3 Беспроцентный период кредитования
								p.cs3_block2_text.csb_text4 Бесплатное погашение кредита по всей России 

				.credit-section4
					.cs4_text_block
						p По вопросам, связанным с выдачей кредита, обращаться
						p в «Тинькофф Банк» (АО) на горячую линию:
						p.cs_text_numper 8 (800) 555-08-08 
						p.cs_text_zvonok (звонок по России бесплатный и круглосуточный) 

					button.button.cs4_buttton Заказать звонок


