section.pod-zakaz__form-section

	.container

		h2.pz__form-title Заказать индивидуальный матрас

		.pz__form-wrap
			form(action="")
				.pz__input-wrap
					input(type="text" placeholder='Имя*').pz__input
					input(type="text" placeholder='Телефон*').pz__input
					input(type="text" placeholder='Emai (необязательно к заполнению)').pz__input
				
				.pz__textarea-wrap
					textarea(placeholder='Ваше сообщение (необязательно к заполнению)').pz__textarea
				
				.pz__button-wrap
					input(type="submit" value='Отправить').button.button__pz

