// основной контент 
section.pod-zakaz__main-content

	.container
	
		.pod-zakaz__title-wrap
			h2.pod-zakaz__title Индивидуальные матрасы по цене обычных
			.pod-zakaz__descr Мы являемся фабрикой поэтому изготавливаем матрасы за 
				span.pod-zakaz__descr-orange 2-3 дня 
				| и не накручиваем на них дополнительные стоимости.

		
	// большие изображения
	.pod-zakaz__big-img-wrap
		.pod-zakaz__img-block.big-img-1
			.img-block__number 1

		.pod-zakaz__img-block.big-img-2
			.img-block__number 2

		.pod-zakaz__img-block.big-img-3
			.img-block__number 3

		.pod-zakaz__img-block.big-img-4
			.img-block__number 4

	// подписи под изображения
	.container

		ul.big-img__descr-list
			li.big-img__descr-item 1. Любой матрас, любых размеров
			li.big-img__descr-item 3. Любые компоненты и их последовательность
			li.big-img__descr-item 2. Любая высота
			li.big-img__descr-item 4. Изготовление за 2 дня

	// end

	// иконки
	.title-section.title-section__pod-zakaz
		h2.title-section__header.ts__pod-zakaz-header Почему  с нами выгодно

	.container.pod-zakaz__icon-wrap

		.pod-zakaz__icon-item
			.pod-zakaz__icon
				img(src="img/icon/icon__pod-zakaz1.png", alt="")
			.pod-zakaz__icon-descr 
				span.icon-descr__bold Матрас идеально 
				br
				| подойдет под ваши пожелания

		.pod-zakaz__icon-item
			.pod-zakaz__icon
				img(src="img/icon/icon__pod-zakaz2.png", alt="")
			.pod-zakaz__icon-descr 
				span.icon-descr__bold Срок изготовления <br> 2-3
				| дня по <br> передовым мировым <br> технологиям

		.pod-zakaz__icon-item
			.pod-zakaz__icon
				img(src="img/icon/icon__pod-zakaz3.png", alt="")
			.pod-zakaz__icon-descr 
				span.icon-descr__bold До 12 лет 
				br
				| гарантии на <br> матрасы
