// top

.title-section
  h2.title-section__header Новые модели

  ul.title-section__nav.main-page__title-section-nav
    li.title-section__nav-item
      a(href="#").title-section__nav-link Эконом
    li.title-section__nav-item
      a(href="#").title-section__nav-link Беспружинные
    li.title-section__nav-item
      a(href="#").title-section__nav-link Basic
    li.title-section__nav-item
      a(href="#").title-section__nav-link Comfort
    li.title-section__nav-item
      a(href="#").title-section__nav-link Comform Plus
    li.title-section__nav-item
      a(href="#").title-section__nav-link Premium
    li.title-section__nav-item
      a(href="#").title-section__nav-link Детские
